@charset "utf-8";
/* ra_dev */
@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");
@import url("http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css");
@import url(//cdn.jsdelivr.net/nanumsquare/1.0/nanumsquare.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

/*common*/
.full_container{font-size:1.4em}
body{font-family:'nanumsquare','dotum';}
ul{margin:0;padding:0;list-style:none}
ul:after {content:""; display:block; clear:both;}

.row{width:1200px;margin:auto;padding:30px 0}
.row:after {content:""; display:block; clear:both;}
.full-width, .full_width {width: 100vw;position: relative;left: 50%;margin-left: -50vw;}
.img-responsive{width:100%}

.text-right{text-align:right!important}
.text-center{text-align:center!important}
.text-left{text-align:left!important}
.clear{clear:both}
.relative{position:relative}
/*ico_size*/
.ico_small{height: 20px;padding-right: 5px;}


/*margin-padding*/
.ml-30{margin-left:30px;}
.mb-50{margin-bottom:50px!important}
.mb-45{margin-bottom:45px!important}
.mb-40{margin-bottom:40px!important}
.mb-35{margin-bottom:35px!important}
.mb-30{margin-bottom:30px!important}
.mb-25{margin-bottom:25px!important}
.mb-20{margin-bottom:20px!important}
.mb-15{margin-bottom:15px!important}
.mb-10{margin-bottom:10px!important}
.mb-0{margin-bottom:0px!important}
/*padding-padding*/
.pb-0{padding-bottom:0px!important}
.pr-5{padding-right:5px!important}

/*fontweight*/
.fw-700{font-weight:700!important}
.fw-600{font-weight:600!important}
.fw-500{font-weight:500!important}
.fw-400{font-weight:400!important}
.fw-300{font-weight:300!important}
.fw-200{font-weight:200!important}
.fw-100{font-weight:100!important}

hr.line{border:none;padding:15px;margin:20px 0;display:block;background:url(../img/common/pattern_02.png) no-repeat center center;}


/*background-image*/
.bk-img1{background-image:url('../img/common/bkg01.jpg');background-position-x:50%;background-repeat:no-repeat;}

/* color-setting */
.bkg, .bkg1,.bkg2,.bkg3,.bkg4,.bkg5,.bkg6,.bkg7{border:none}
.bkg{background-color:#eee}
.bkg1, a.bkg1{background-image:url('../img/common/ptn_01.png');}
.bkg1, a.bkg1:hover{}

.bkg2, a.bkg2{background-color:#777777!important;color:#fff}
.bkg3, a.bkg3{background-color:#999999!important;color:#fff}
.bkg3, a.bkg3:hover{background-color:#292929!important;color:#fff}

.bkg4, a.bkg4{background-color:#bbbbbb!important;color:#fff}
.bkg4, a.bkg4:hover{background-color:#292929!important;color:#fff}
.bkg5, a.bkg5{background-color:#ed4022!important;color:#fff}
.bkg5, a.bkg5:hover{background-color:#e8180c!important;border:1px solid #e8180c;color:#fff}
.bkg6, a.bkg6{background-color:#f29803!important;color:#fff}
.bkg6, a.bkg6:hover{background-color:#292929!important;color:#fff}
.bkg7, a.bkg7{background-color:#fff!important;color:#292929}

.color1, a.color1{color:#292929!important}
.color2, a.color2{color:#777777!important}
.color3, a.color3{color:#999999!important}
.color4, a.color4{color:#bbbbbb!important}
.color5, a.color5{color:#ef3f1e!important}
.color6, a.color6{color:#f29803!important}
.color7, a.color7{color:#fff!important}


/*bkg-ico*/


/*ani*/
.ani{-webkit-transition: all 500ms cubic-bezier(.19,1,.22,1);
    transition: all 500ms cubic-bezier(.19,1,.22,1);}
.ani2{opacity:0;}, .ani2:hover {opacity:1; transition:opacity .5s ease-in;}
/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡcustom 옮기기전*/

/*--------------------------------main------------------------------------*/
#tnb a.hd_qlink{background-color:#292929;color:#fff;font-size:1.4em;line-height: 1.7em;padding:5px 15px}

/*main_slide*/
.m_slide_area:after{display:block;visibility:hidden;clear:both;content:""}
.m_slide_area .slide{width:868px;float:left}
.m_slide_area .slide_side{float:right;}

.thumb_gallery{width:298px;float:right}
.latest_area:after{display:block;visibility:hidden;clear:both;content:"a"}

/*메뉴 바로가기*/
.site_map_area{margin-top:50px;margin-bottom:40px}
.site_map_area .sitemap_section{box-sizing:border-box;display:inline-block;background-color:#fff;border:4px solid #ccc;padding:15px;margin-right:11px;vertical-align:top;width:390px;min-height:337px;position:relative}
.site_map_area .sitemap_section:last-child{margin-right:0}
.site_map_area .sitemap_section .tit{font-size:1.4em;margin-bottom:15px}
.site_map_area .sitemap_section li{line-height:2em;font-size:1.2em;padding-left:15px;background: url('./img/common/dot.gif') no-repeat 5px 50%;}
.site_map_area .sitemap_section li li{line-height:1.5em;font-size:1em;padding-left:15px;background: url('../img/common/dot.gif') no-repeat 5px 50%;}
.site_map_area .sitemap_section:hover {border: 20px solid #ea0000;}


.site_map_area .sitemap_section .mbkg-ico{opacity:0.2;width:100px;height:100px;position:absolute;right:15px;bottom:15px}
.site_map_area .sitemap_section:hover .mbkg-ico{opacity:0.8; transition:opacity .5s ease-in;}
.site_map_area .sitemap_section .mbkg-ico1{background: url('../img/common/svg/speech-bubble.svg') no-repeat right bottom;background-size:8em;}
.site_map_area .sitemap_section .mbkg-ico2{background: url('../img/common/svg/briefcase.svg') no-repeat right bottom;background-size:8em;}
.site_map_area .sitemap_section .mbkg-ico3{background: url('../img/common/svg/calendar.svg') no-repeat right bottom;background-size:8em;}



.tit_subject{font-size:1.4em;margin:10px 0 20px 0;border-bottom:1px solid #000000;display:inline-block;min-width:170px;padding-bottom:5px}
.tit_subject::after{display:block;visibility:hidden;clear:both;content:""}





/*------------------------------SUB------------------------------------------------------------------------------------------*/

/*sub_hd_section*/
.sub_hd {margin-bottom:30px;zoom:1;border:1px solid #d9d9d9;padding:15px;position:relative;color:#696566}
.sub_hd::before {content: "";position: absolute;bottom: -4px;left: -1px;display: block;width: 100%;height: 3px;background: #f1f1f1;}
.sub_hd:after {display:block;visibility:hidden;clear:both;content:"";}
.sub_hd ul {margin:0;padding:0;list-style:none;margin-bottom:20px}
.sub_hd ul:last-child{margin-bottom:0}
.btn_bo_user {float:right;margin:0;padding:0;list-style:none}
.btn_bo_user li {float:left;margin-left:5px}
#bo_sch .btn_submit, #fsearch .btn_submit{background: url('../img/common/ico/search.png')no-repeat center center; padding: 10px 15px;background-size:22px;position: absolute;right:0;bottom:5px;height:30px}
#bo_sch select,#bo_sch input,#fsearch select,#fsearch input{padding-left:5px}
#bo_sch select,#fsearch select{height:30px;border:1px solid #e4eaec}

/*sub_hd_section area left,right_area*/
.sub_hd .l_area {float:left;padding:0}
.sub_hd .l_area li{float:left;padding-right:15px}
.sub_hd .r_area {margin-bottom: 0px;padding:0;float:right}
.sub_hd .r_area li{float:right;padding-left:15px;position:relative}
.sub_hd  li a{cursor:pointer; }.sub_hd  li a img{height:20px}.sub_hd  li a span{padding-left:5px}
#bo_sch{padding:5px 0;margin-bottom:0;position:relative}


/*------------------------------SUB-LNB------------------------------------------------------------------------------------------*/
/*sub_frame*/
.ra-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:5;overflow:auto;background-color:#dddddd;border-right:1px solid #d9d9d9;}
.ra-sidebar .logo{padding:20px 10px}
.ra-bar{width:100%;overflow:hidden}
.ra-bar-block .ra-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;outline:none;white-space:normal}
.ra-content{max-width:1200px;margin:auto;overflow:auto}
.ra-rest{overflow:hidden}

.ra-top,.ra-bottom{position:fixed;width:100%;z-index:5}
.ra-top{top:0}
.ra-bottom{bottom:0}

.ra-left-align{text-align:left!important}
.ra-right-align{text-align:right!important}
.ra-justify{text-align:justify!important}
.ra-center{text-align:center!important}

/*border-setting*/
.ra-border-0{border:0!important}.ra-border{border:1px solid #ccc!important}
.ra-border-top{border-top:1px solid #ccc!important}.ra-border-bottom{border-bottom:1px solid #ccc!important}
.ra-border-left{border-left:1px solid #ccc!important}.ra-border-right{border-right:1px solid #ccc!important}

/*sub_menu_list*/
#sub_lnb ul{list-style:none;margin:0;padding:0}
#sub_lnb>ul>li>a{padding: 13px 14px;color:#292929;display:block;font-size:1.2em;text-decoration:none;border-bottom:1px solid #dde4e9;background-color:#fafafa;letter-spacing:-1px }
#sub_lnb>ul>li>a.active{background-color:#aaaaaa;color:#fff;font-weight:600}
#sub_lnb>ul>li>a:hover{background-color:#fff;color:#000;font-weight:600}
#sub_lnb>ul>li>ul{border-bottom:1px solid #dde4e9;background-color:#fff;padding:6px 0}
/*2depth*/
#sub_lnb>ul>li>ul>li {border: 0;padding: 6px 0 6px 35px;}
#sub_lnb>ul>li>ul>li>a{color:#292929;display:block}
#sub_lnb>ul>li>ul>li>a.active{font-weight:700}
/*3depth*/
#sub_lnb>ul>li>ul>li>ul>li{padding: 2px 0 2px 15px;}
#sub_lnb>ul>li>ul>li>ul>li>a{color:#292929;display:block}
#sub_lnb>ul>li>ul>li>ul>li>a.active{font-weight:700}

#sub_lnb ul li > a.plus_bg { background:#fafafa url('../img/common/plus_bg.png') no-repeat 200px center; }
#sub_lnb ul li.active > a.plus_bg  { background:#009944 url('../img/common/plus_bg_active.png') no-repeat 200px center;;color:#fff }
#sub_lnb ul li:hover > a.plus_bg  { background:#fff url('../img/common/plus_bg.png') no-repeat 200px center;;color:#000 }
#sub_lnb ul li > a.minus_bg { background:#fff url('../img/common/minus_bg.png') no-repeat 200px center;}
#sub_lnb ul li:hover > a.minus_bg { background:#fff url('../img/common/minus_bg.png') no-repeat 200px center;}
#sub_lnb ul li.active > a.minus_bg { background:#aaaaaa url('../img/common/minus_bg_active.png') no-repeat 200px center; color:#fff}

#container {margin-left:230px}

/*subsitemap*/
#sitemap{font-size:1.0em;position: fixed;top: 0;width: 100%;background-color:#efefef;padding:10px 15px;border-bottom:1px solid #929292;left:230px;z-index:9999}
#sitemap .location img{width:15px;height:15px;}
#sitemap .location span:first-child{padding-left:0}
#sitemap .location span{background:url('../img/common/ico/right-arrow.png') no-repeat;background-position:right center; background-size:8px;padding:0 20px 0 8px}
#sitemap .location span:last-child{background:none}



/*------------------------------BOARD-Setting------------------------------------------------------------------------------------------*/
/*board_hd*/
.bo_cate_area{position:relative;margin-bottom:20px}
.bo_cate_area .bo_fx_hd{position:absolute;top:0;right:0}
.tit_area{position:relative;padding:20px 0;margin-bottom:0px}
.tit_area .tit{font-size:2em;}
.tit_area .tit span{color:#9a9a9a}
.tit_area .tit .btn01{font-size:0.8em;}
.tit_area .r-btn-area{position:fixed;right:15px;top:50px;z-index:10;background-color:#fff;}
.tit_area .r-btn-area ul li{float:left;padding-left:5px;}
.tit_area .r-btn-area ul li a img{margin-bottom:5px}
.tit_area .r-btn-area ul li a span{font-size:0.8em}

.bo_hd {zoom:1;position:relative;color:#696566}
.bo_hd ul {margin:0;padding:0;list-style:none}
#bo_list_total {float:left;padding:15px 0}
.btn_bo_user {float:right;margin:0;padding:0;list-style:none}
.btn_bo_user li {float:left;margin-left:5px}
#bo_sch .btn_submit, #fsearch .btn_submit{background: url('../img/common/ico/search.png')no-repeat center center; padding: 10px 15px;background-size:22px;position: absolute;right:0;bottom:5px;height:30px}
#bo_sch select,#bo_sch input,#fsearch select,#fsearch input{padding-left:5px}
#bo_sch select,#fsearch select{height:30px;border:1px solid #e4eaec}

/*bo_hd area right_area*/
.bo_hd .r_area {margin-bottom: 0px;padding-top: 5px;text-align: right;}
.bo_hd .r_area li{float:right;padding-left:15px;position:relative}
.bo_hd .r_area li a{cursor:pointer;line-height: 38px; }.bo_hd .r_area li a img{height:20px}.bo_hd .r_area li a span{padding-left:5px}
#bo_sch{padding:5px 0;margin-bottom:0;position:relative}


/*------------------------------Table-Setting------------------------------------------------------------------------------------------*/

/*tbl_default*/
table{width:100%;border-collapse:collapse;border-spacing:0}
.tbl_style01 {margin:0 0 10px}
.tbl_style01 caption {padding:0;font-size:0;line-height:0;overflow:hidden}
.tbl_style01 thead th {padding:17px 0;border-top:3px solid #000000;border-bottom:1px solid #000000;background:#fff;color:#383838;font-size:0.95em;text-align:center;letter-spacing:-0.1em}
.tbl_style01 thead a {color:#383838}
.tbl_style01 thead th input {vertical-align:top} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
.tbl_style01 tfoot th, .tbl_head01 tfoot td {padding:10px 0;border-top:1px solid #c1d1d5;border-bottom:1px solid #c1d1d5;background:#d7e0e2;text-align:center}
.tbl_style01 tbody th {padding:13px 0;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9}
.tbl_style01 td {padding:14px 5px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;line-height:1.5em;word-break:break-all}



/* 폼 테이블 */
.tbl_frm01 {margin:0 0 20px}
.tbl_frm01 table {width:100%;border-collapse:collapse;border-spacing:0}
.tbl_frm01 th {word-break: keep-all;box-sizing: content-box;width:135px;padding:7px 13px;border:1px solid #aaa;background:#f7f7f7;text-align:left}
.tbl_frm01 td {padding:7px 10px;border-top:1px solid #aaa;border-bottom:1px solid #aaa;border-right:1px solid #aaa;border-left:1px solid #aaa;background:transparent}
.tbl_frm01 textarea, .frm_input {border:1px solid #e4eaec;background:#fff;color:#000;vertical-align:middle;line-height:2em}
.tbl_frm01 textarea {padding:2px 2px 3px}
.frm_input {height:30px}
.tbl_frm01 textarea {width:98%;height:300px}
.tbl_frm01 a {text-decoration:none}
.tbl_frm01 .frm_file {display:block;margin-bottom:5px}
.tbl_frm01 .frm_info {display:block;padding:0 0 5px;line-height:1.4em}

/*ect setting*/
.tbl_striped>table > tbody > tr:nth-of-type(odd) {background-color: #f9f9f9;}
.tbl_borderd>table>thead>tr>th{border-right: 1px solid #cccccc;}.tbl_borderd>table{border-collapse: collapse;}
.tbl_borderd>table>tbody>tr>td{border-right: 1px solid #cccccc;border-bottom: 1px solid #cccccc;border-top:none}
.tbl_borderd>table>thead>tr>th:first-child, .tbl_borderd>table>tbody>tr>td:first-child{border-left:none}
.tbl_borderd>table>thead>tr>th:last-child, .tbl_borderd>table>tbody>tr>td:last-child{border-right:none}

.tbl_small tr th,.tbl_small tr td{padding:5px}



/*------------------------------inline-tab-style------------------------------------------------------------------------------------------*/
/*inline-tab-style1*/
#tab_area .tab_mgroup{font-size:1.6em;margin-bottom:10px}
#tab_group h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#tab_group ul {margin-bottom:10px;padding-left:1px;zoom:1;display:inline-block;font-size:1.2em;border-top:2px solid #292929;border-bottom:1px solid #292929;padding:10px 0}
#tab_group ul:after {display:block;visibility:hidden;clear:both;content:""}
#tab_group li:first-child{border-left: 1px solid #000;}
#tab_group li {float:left;padding:0 9px 0 9px;border-right: 1px solid #000;}
#tab_group li:last-child{margin-right:-1px}
#tab_group a {display:block;position:relative;margin-left:-1px;padding:6px 10px 5px;min-width:57px;background:#fff;color:#ccc;text-align:center;letter-spacing:0.1em;line-height:1.2em;cursor:pointer;}
#tab_group a:focus, #tab_group a:hover, #tab_group a:active {text-decoration:none}
#tab_group .end{color:#292929}
#tab_group .active {z-index:2;background:#292929;color:#fff;font-weight:bold}


/*inline-tab-style2*/
#tab_group2 h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#tab_group2 ul {margin-bottom:10px;padding-left:1px;zoom:1;display:inline-block;font-size:1.2em}
#tab_group2 ul:after {display:block;visibility:hidden;clear:both;content:""}
#tab_group2 li:first-child{border-left: 1px solid #000;}
#tab_group2 li {float:left;padding:0 9px 0 10px;border-right: 1px solid #000;}
#tab_group2 li:last-child{margin-right:-1px}
#tab_group2 a {display:block;position:relative;margin-left:-1px;padding:6px 10px 5px;min-width:95px;background:#fff;color:#888;text-align:center;letter-spacing:0.1em;line-height:1.2em;cursor:pointer;}
#tab_group2 a:focus, #bo_cate a:hover, #bo_cate a:active {text-decoration:none}
#tab_group2 #bo_cate_on {z-index:2;background:#292929;color:#fff;font-weight:bold}

/*board-tab*/
.inline-tab{margin-bottom:10px;}
.inline-tab .tab_pd {text-align: center;list-style: none;border-bottom: 2px solid #3b3f4a;height: 37px;padding: 0;margin: 0;}
.inline-tab .tab_pd li {float: left;background-color: #f9f9f9;height: 35px;}
.inline-tab .tab_pd li:first-child a {border-left: 1px solid #e9e9e9;}
.inline-tab .tab_pd li a {line-height: 34px;display: block;padding:0 15px;min-width:100px;border-top: 1px solid #d9d9d9;border-right: 1px solid #d9d9d9;}
.inline-tab .tab_pd li.active a {font-weight: 700;display: block;border-top: 2px solid #3b3f4a;border-left: 2px solid #3b3f4a;border-right: 2px solid #3b3f4a;line-height: 35px;background-color: #fff;color: #3b3f4a;}
.inline-tab > .r-btn-area{position:absolute;right:0;bottom:0}



/*sub_page*/
.tip_summary{border-top:2px solid #292929;border-bottom:1px solid #292929;padding:30px 15px;margin-bottom:30px;}
.tip_summary p{margin-bottom:15px}
.tip_summary p:last-child{margin-bottom:0}
.tip_area{margin-bottom:20px;}
.tip_area .tit{font-size:1.4em;margin-bottom:10px}
.tip_area .cmt{padding-left:10px;margin-bottom:13px}
.tip_area .cmt {zoom:1;border:1px solid #d9d9d9;padding:15px 30px;position:relative;color:#696566;background:url('../img/common/svg/tag.svg')no-repeat 5px 15px;background-size:20px ;margin:15px 5px 20px 5px}
.tip_area .cmt::before {content: "";position: absolute;bottom:-4px;left: -1px;display: block;width: 100%;height: 3px;background: #f1f1f1;}
.tip_area .cmt:after {display:block;visibility:hidden;clear:both;content:"";}


/*------------------------------List-style------------------------------------------------------------------------------------------*/
ul.ul_style01 { overflow:hidden;margin-left:15px }
ul.ul_style01 li {background:url('../img/common/svg/correct.svg')no-repeat left 2px;background-size:15px; color:#3d3d3d; padding-left:20px; margin-bottom:13px;  }
ul.ul_style01 li strong { color:#000; }
ul.ul_style01 ul { margin-top:5px; }
ul.ul_style01 li li {background:url('../img/common/svg/forward.svg')no-repeat left 3px;background-size:20px; font-size:15px; color:#3d3d3d; padding-left:20px; line-height:26px; margin-bottom:0;}
ul.ul_style01 li li .cmt{font-size:13px}
ul.ul_style01 li a { font-size:15px; color:#3d3d3d;}
ul.ul_style01 li .tip{font-size:0.8em;line-height:18px}

ul.ul_style01 .ul_style02 li{background:none!important;padding-left:0px }

ul.ul_style03 { overflow:hidden;margin-left:0px;text-align:left }
ul.ul_style03 li {background:url('../img/common/dot.gif')no-repeat left 8px;background-size:5px; color:#3d3d3d; padding-left:10px;  }
ul.ul_style03 li strong { color:#000; }
ul.ul_style03 ul { margin-top:5px; }
ul.ul_style03 li li {background:url('../img/common/dot.gif')no-repeat left center;background-size:5px; font-size:15px; color:#3d3d3d; padding-left:20px; line-height:26px; margin-bottom:0;}
ul.ul_style03 li li .cmt{font-size:13px}
ul.ul_style03 li a { font-size:15px; color:#3d3d3d;}
ul.ul_style03 li .tip{font-size:0.8em;line-height:18px}



/*------------------------------btn-setting------------------------------------------------------------------------------------------*/
a,.btn_area input{-webkit-transition: all 500ms cubic-bezier(.19,1,.22,1);
    transition: all 500ms cubic-bezier(.19,1,.22,1);}
a{opacity:1;}, a:hover,.btn_area input {opacity:1; transition:opacity .5s ease-in;}

.btn_default{border:1px solid #ccc;padding:5px;min-width:100px;display:inline-block;text-align:center}
.btn_default.active{background-color:#14264a;color:#fff;border-color:#c0c5cf}
.btn_default:hover{border-color:#14264a;background-color:#fafafa;color:#000}

.btn_large{padding:5px 50px; line-height:68px}

/*btn_area_style*/
.btn_area {text-align: center;margin-bottom: 50px;display: block;}
.btn_area input{height:42px;vertical-align:top;width: 200px;}
.btn_area .btn{width:200px;margin: 0 5px;display: inline-block;border:1px solid;vertical-align: middle;cursor: pointer;}
.btn_area a.btn{padding:11px;}

.btn_area .btn01{background-color:#fafafa;border-color:#292929}
.btn_area .btn01:hover{background-color:#777777;color:#fff;cursor: pointer; }

.btn_area .btn02{background-color:#e8180c;border-color:#e8180c}
.btn_area .btn02:hover{background-color:#ef3f1e;border-color:#e8180c }


/*------------------------------footer------------------------------------------------------------------------------------------*/
#ft {clear:both;padding:0 0 0px;min-width:1095px;border-top:1px solid #e9e9e9;background-color:#efefef;color:#7d7d7d}
#ft h1 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#ft div {position:relative;margin:0 auto;padding:0 0 0 100px;width:1100px}
#ft_logo {position:absolute;top:15px;right:0}
#ft_logo img{width:100px}
#ft_tit {position:absolute;top:12px;left:0;font-weight:600}
#ft ul {margin:0 0 15px;padding:20px 0 0;zoom:1}
#ft ul:after {display:block;visibility:hidden;clear:both;content:""}
#ft li {float:left;margin:0 20px 0 0}
#ft a {text-decoration:none}
#ft p {margin:0;padding:10px 0;line-height:1.8em}
#ft span {display:inline-block;margin:0 15px 0 0}
#ft b {display:inline-block;margin:0 5px 0 0}
#ft #ft_totop {position:absolute;top:-80px;right:-88px;z-index:10;background-image:url('../img/common/go_to_top.png');background-repeat:no-repeat;background-position:center center; background-color:#3f362e;text-indent:-9999px;width:50px;height:50px;border-radius:50%;padding:10px }
#ft #ft_totop:hover{background-color:#000}

/*sub footer*/
.sub_ft_area{background-color:#ccc;margin:100px 0px 0}
.sub_ft_area #ft {min-width:927px;padding: 0 0 0px;}
.sub_ft_area #ft div {width:1230px; padding:0 0 0 260px;}

/*responsive
@media only screen and (max-width:1280px){
#sub_lnb{font-size:0.8em }
}*/

/*subpage*/
.input-daterange .input-group-addon{min-width: 30px;color: #646464;background-color: #f9f9f9;border-color: #e6e6e6;text-align: center;vertical-align: middle;border: solid #e4eaec;border-width: 1px;margin-left: -5px;margin-right: -5px;padding:6px 10px;vertical-align: middle;}
.input-daterange input{width:190px}
.input-daterange i:before{font-size: 14px;vertical-align:middle;}

/*-------------------------------------------- 대회 생성 -----------------------------------------------------------------------------*/

/*대회생성 지도선택*/
.champ_map_list{margin-top:5px;}
.champ_map_list li{border:1px solid #ccc;padding:15px;display:block;position:relative;line-height:22px;margin-bottom:10px}
.champ_map_list li:last-child{margin-bottom:0}
.champ_map_list li p{margin-bottom:10px}
.champ_map_list li span{padding-right:5px}
.champ_map_list .match_day{margin-bottom:5px}
.champ_map_list .match_day ul li{display:block;margin-bottom:5px;}

/* 디폴트 상태 */
input.select[type="radio"] + label,input.select[type="checkbox"] + label {display:block; background-color:#ffffff;cursor:pointer; }
/* 온상태일때 */
input.select[type="radio"]:checked + label {background-color:#292929}
input.select[type="radio"]:checked + label .subject, input.select[type="radio"]:checked + label .tit,
input.select[type="radio"]:checked + label .cost{color:#fff}

ul.select_group li:first-child{margin-left:0}
ul.select_group li{float:left;border:1px solid #ccc;background-color:#fff;width:100px;min-height:50px;margin-left:-1px;position:relative}

ul.select_group li input.select[type="radio"],input.select[type="checkbox"] {display:none}
ul.select_group li input.select[type="radio"]:checked + label,
ul.select_group li input.select[type="checkbox"]:checked + label {background-color:#5c90d2;color:#fff}

ul.select_group li label .opt{padding:15px;min-height: 44px;text-align:center}

/*대회 참가 그룹 생성*/
.champ_section:before{content: "";position: absolute;bottom: -4px;left: -1px;display: block;width: 100%;height: 3px;background: #f1f1f1;}
.champ_section{padding:15px;border:2px solid #000;margin-bottom:15px;position:relative;}

.champ_section:nth-child(even){background-color:#fafafa;}
.champ_section .tit{font-size:22px;margin-bottom:5px}

.champ_section .champ_group_ect{padding:15px;border:2px solid #000;}
.champ_section table tbody{border-bottom:2px solid #aaa;}
.champ_section table .tit_area{padding-left:0;padding-top:20px;border:none}
/* 게임 방식 필수 선택*/
.champ_option_group {margin-bottom:20px}
.champ_option_group li .tit{font-size:14px;margin-bottom:5px}
.champ_option_group >li{float:left;margin-right:20px}
.champ_section .tip{font-size:13px;color:#7d7d7d}
.champ_section .tip:before{content:"("}
.champ_section .tip:after{content:")"}


/*접수현황 출력 */
.reception_area{}
.reception_area .reception_count{font-size:22px;margin-bottom:15px;}
.reception_area .recep_status_group {margin-bottom:20px;}
.reception_area .recep_status_group:last-child{margin-bottom:0}
.reception_area .recep_status_group .group_tit{font-size:20px;margin-bottom:5px;position:absolute}
.reception_area .recep_status_group .group_info{margin-left:65px;line-height:25px;display:block;position:relative}
.reception_area .recep_status_group .group_info .info_tit{font-size:18px;display:inline-block;}
.reception_area .recep_status_group ul {margin-left:10px;display:inline-block;vertical-align: bottom}
.reception_area .recep_status_group ul li{float:left;}
.reception_area .recep_status_group ul li:after{content:"|";padding:0 10px;color:#ccc}

/*엑셀 업로드 */
.champ_upload_area .upload_result{margin:5px 0;padding:5px 0}
.champ_upload_area .upload_result{}
.warning_info{margin-top:20px}
.warning_info .tit{font-size:16px}
.warning_info ul li{position:relative;padding-left:15px;background: url('../img/dot.gif') no-repeat 5px 6px;background-size:5px;}


/*step5_view*/
.sub_hd .tit{font-size:22px;}
.champ_group_edit ul li{float:left;width:32%;margin-right:2%;border:1px solid #ccc;margin-bottom:15px;position:relative;}
.champ_group_edit ul li:nth-child(3n+3){margin-right:0%;}
.champ_group_edit ul li .tit_area{background-color:#fafafa;padding:15px;font-weight:600;}
.champ_group_edit ul li .tit_area .r-btn-area{position:absolute;right:0;top:0;padding:15px;font-size:11px;font-family:'dotum'}
.champ_group_edit ul li .tit_area .r-btn-area a.btn{margin-right:5px;border:1px solid;padding:5px 10px;border-radius:5px;}
.champ_group_edit ul li .tit_area .r-btn-area a.btn:last-child{margin-right:0}
.champ_group_edit ul li .tit_area .r-btn-area a.btn.add{border-color:#34a263;background-color:#46c37b;color:#fff}
.champ_group_edit ul li .tit_area .r-btn-area a.btn.del{border-color:#c54736;background-color:#d26a5c;color:#fff}


.champ_group_table {padding:15px;}
.champ_group_table table thead tr th{border-bottom:2px solid #ccc;padding:5px 0;}
.champ_group_table table tbody tr td{border-bottom:1px solid #ccc;padding:5px;}
.champ_group_table table tbody tr:last-child td{border-bottom:none}




/*대진 시간표 timetable_assigmnent*/
/*대진시간표 프레임*/
.champ_edit:after{content:"";display:block; clear:both;}
.chmap_time_count {display:inline-block;width:70px;margin-top:40px}
.chmap_time_count ul{border:1px solid #ccc;}
.chmap_time_count ul li:first-child{padding-top:5px}
.chmap_time_count ul li{padding:15px;height:173px;text-align:center;border-bottom:1px solid #ccc}
.chmap_time_count:after{content:"";display:block; clear:both;}
.match_court{margin-bottom:0px;margin-left:2px;display:inline-block}
.match_court li{display:inline-block;width:159px;text-align:center;background-color:#fafafa;padding:10px;border:1px solid #aaa;border-right:0}
.match_court li:last-child{border-right:1px solid #aaa}

.table-time{display:inline-block;vertical-align:top}
.table-time .team_edit_area{}
.table-time >.team_edit_area >li{margin:5px 0 0 5px; list-style-type:none;vertical-align: top;}
.table-time .playtime{background-color:#fff;vertical-align:middle;height:160px;}
.table-time .playtime .badge{font-size:18px;background-color:#285caa;color:#fff}


.table-time .group_area { border-radius:5px;box-sizing:border-box;background-color:#fff;display:block;display:inline-block;border:1px solid #ccc;min-width:150px;vertical-align:top;min-height:168px}

.table-time>ul{ font-size:0;}
.table-time>ul>li{display:inline-block;font-size:13px;}
.table-time>ul>li>ul>li{margin-bottom:5px}
.table-time .group_area .champ_code{font-size:11px}


/* term 색상 구분*/
.table-time .term_section{background-color:#f6f6f6;}

/* team 색상 구분*/
.table-time .team_play {border:1px solid #bce8f1;}
.table-time .team_play .team_play_bg {padding:3px 5px; background-color:#d9edf7;}
.table-time .male_play {border:1px solid #d6e9c6;}
.table-time .male_play .team_play_bg {padding:3px 5px; background-color:#dff0d8;}
.table-time .female_play {border:1px solid #faebcc;}
.table-time .female_play .team_play_bg {padding:3px 5px; background-color:#fcf8e3;}
.table-time .group_area .club_area{white-space:nowrap;color:#646464;padding:3px 5px; border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;position:relative}
.table-time .group_area .club_area .team_area{padding:10px 0}

.table-time .group_area .club_area .first_team {border-bottom:1px solid #ededed;padding-bottom:5px;}
.table-time .group_area .club_area .playing{position:absolute;right:5px;bottom:3px}




.table-time .group_area .team_area .club_name{font-size:11px;}
.table-time .group_area .team_area .name{font-size:13px;font-weight:600}


/* 대진시간표 승리팀 적용*/
.group_area .club_area .scoreboard_area{position:relative;padding:5px 0 4px 0}
.group_area .scoreboard_area .win_score{border-bottom:1px solid #eee;}
.group_area .end_matchA{background-color:#ededed}
.group_area .end_matchA .team_area:first-child{background-color:#fff}

.group_area .end_matchA .scoreboard_area{position:relative;display:block;padding:0px;height:20px}

.group_area .end_matchA .scoreboard_area .a_score{font-weight:700}
.group_area .end_matchA .scoreboard_area .win_score{left:0%;display: block;width: 60%;height: 0;overflow: hidden;border-top: 20px solid #fff;border-right: 15px solid #ededed;}
.group_area .end_matchB{background-color:#ededed}
.group_area .end_matchB .team_area:last-child{background-color:#fff}
.group_area .end_matchB .scoreboard_area{position:relative;display:block;background-color:#fff;padding:0px;height:20px}
.group_area .end_matchB .scoreboard_area .b_score{font-weight:700}
.group_area .end_matchB .scoreboard_area .win_score{left:0%;display: block;width: 60%;height: 0;overflow: hidden;border-top: 20px solid #ededed;border-right: 15px solid #fff;border-bottom:0px;}
.scoreboard_area .a_score{position:absolute;left:15px;top:0}
.scoreboard_area .b_score{position:absolute;right:15px;top:0}

/*경기배정 드래그*/
/*#draggable { width: 100px; height: 100px; padding: 0.5em; float: left; margin: 10px 10px 10px 0; }
.droppable { width: 150px; height: 50px; padding: 0.5em; float: left; margin: 10px; border: 1px solid #000; }
*/
.ui-state-hover {width: 150px; height: 150px; padding: 0.5em; float: left; margin: 10px; border: 1px; }
.ui-state-chosen {background-color: yellow!important;color:red!important}
.ui-state-droped .group_area{background: #fff;border:2px solid red; color: white; }
.ui-state-chosen .group_area{background:#ffcff0;border:2px dashed red }



/*---------------------------------대회 진행 및 종료----------------------------------*/

/*대회 종료*/
.champ_rank_result {margin-bottom:20px}
.champ_rank_result table{}
.champ_rank_result table thead tr th{border:1px solid #ccc;padding:15px;border-bottom:1px solid #000}
.champ_rank_result table tbody tr th{}
.champ_rank_result table tbody tr td{border:1px solid #ccc;padding:10px 15px}
