@charset "utf-8";
/*------------------------------------------------------------------
Raizup
Version: 1.0;

[Table of contents]

1. common
2. main
3. sub

-------------------------------------------------------------------*/

@import url("https://fonts.googleapis.com/earlyaccess/nanumgothic.css");
@import url("https://fonts.googleapis.com/earlyaccess/nanummyeongjo.css"); /* */
@import url(//cdn.jsdelivr.net/nanumsquare/1.0/nanumsquare.css); /* Nanum Square */
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css); /* Noto Sans KR */


/*common*/
.hide{visibility:hidden}
.remove-padding{padding:0px!important}
.clear{clear:both}
.text-right{text-align:right!important}
.text-left{text-align:left!important}
.text-center{text-align:center!important}
.vertical-top{vertical-align:top!important}
.vertical-middle{vertical-align:middle!important}
.vertical-bottom{vertical-align:bottom!important}
.hr{border-bottom:1px solid #bbb;display:block;margin:10px 30px}
.text-line{text-decoration:line-through}
.text_underline{text-decoration:underline}
.right_cmt{position:absolute;right:0;bottom:0;font-size:14px}
.right_cmt ul li{float:left;padding-left:15px}
.box{border:1px solid #bbbbbb}
.box.active{border:1px solid #292929}
.relative{position:relative}	 
img.responsive{width:100%}
.top_line{border-top:2px solid #292929}
.em {text-align: center;margin: 10px 0px;border: 1px solid #f03f1e;background-color: #fff;padding: 15px;color: #f03f1e;font-size: 20px;border-radius: 5px;}
/*icon*/
.ico_style1{padding:0 5px;display:inline-block;border-radius:5px;}
.ico_minus {background-image: url('../img/common/icon_minus.png');background-size: 16px;width: 16px;height: 16px;border: none;background-repeat: no-repeat;text-indent: -9999px;padding: 8px;cursor: pointer;}
.ico_plus {background-image: url('../img/common/icon_plus.png');background-size: 16px;width: 16px;height: 16px;border: none;background-repeat: no-repeat;text-indent: -9999px;padding: 8px;cursor: pointer;}



.adm_nav{position:absolute;right:0;top:0;font-size:13px;font-weight:400}
.adm_nav li a{padding:0!important;}
/*business_style*/
.business_icon{background-color:#999999;padding:0 5px;border-radius: 5px;color:#fff;display:inline-block;margin-bottom:2px;word-break: normal}
.business_icon1{background-color:green;padding:0 5px;border-radius: 5px;color:#fff;display:inline-block;margin-bottom:2px;word-break: normal}
.business_icon2{background-color:green;padding:0 5px;border-radius: 5px;color:#fff;display:inline-block;margin-bottom:2px;word-break: normal}
.business_icon3{background-color:green;padding:0 5px;border-radius: 5px;color:#fff;display:inline-block;margin-bottom:2px;word-break: normal}
.business_icon4{background-color:green;padding:0 5px;border-radius: 5px;color:#fff;display:inline-block;margin-bottom:2px;word-break: normal}
.business_icon5{background-color:green;padding:0 5px;border-radius: 5px;color:#fff;display:inline-block;margin-bottom:2px;word-break: normal}
.business_icon6{background-color:green;padding:0 5px;border-radius: 5px;color:#fff;display:inline-block;margin-bottom:2px;word-break: normal}

/*margin-padding*/
.ml-30{margin-left:30px;}
.mb-50{margin-bottom:50px!important}
.mb-40{margin-bottom:40px!important}
.mb-30{margin-bottom:30px!important}
.mb-20{margin-bottom:20px!important}
.mb-15{margin-bottom:15px!important}
.mb-10{margin-bottom:10px!important}
.mb-0{margin-bottom:0px!important}

/*padding-padding*/
.pb-0{padding-bottom:0px!important}
.pr-5{padding-right:5px!important}
.fw-700{font-weight:700!important}
.fw-600{font-weight:600!important}
.fw-500{font-weight:500!important}
.fw-400{font-weight:400!important}
.fw-300{font-weight:300!important}
.fw-200{font-weight:200!important}
.fw-100{font-weight:100!important}
/*size setting*/

.xlarge-txt{font-size:26px;font-weight:600}
.large-txt{font-size:22px;font-weight:600}
.midium-txt{font-size:19px;font-weight:600}
.xmidium-txt{font-size:17px}
.small-txt{font-size:14px;font-weight:400}
.xsmall-txt{font-size:14px}
.shot-txt{font-size:11px}

/* color-setting */
.bkg1,.bkg2,.bkg3,.bkg4,.bkg5,.bkg6,.bkg7{border:none}
.bkg1, a.bkg1{background-color:#292929!important;color:#fff}
.bkg1, a.bkg1:hover{background-color:#292929!important;color:#fff}

.bkg2, a.bkg2{background-color:#777777!important;color:#fff}
.bkg3, a.bkg3{background-color:#999999!important;color:#fff}
.bkg3, a.bkg3:hover{background-color:#292929!important;color:#fff}

.bkg4, a.bkg4{background-color:#bbbbbb!important;color:#fff}
.bkg5, a.bkg5{background-color:#ed4022!important;color:#fff}
.bkg6, a.bkg6{background-color:#f29803!important;color:#fff}
.bkg7, a.bkg7{background-color:#fff!important;color:#292929}

.color1, a.color1{color:#292929!important}
.color2, a.color2{color:#777777!important}
.color3, a.color3{color:#999999!important}
.color4, a.color4{color:#bbbbbb!important}
.color5, a.color5{color:#ef3f1e!important}
.color6, a.color6{color:#f29803!important}
.color7, a.color7{color:#fff!important}



.red{color:#f03f1e}
.bkg-white {background-color:#fff}
.bkg-red{background-color:#f03f1e;color:#fff}
.bkg-green{background-color:green;color:#fff}
.bkg-img1{background-image:url('../img/sub_title.jpg');background-position-x:50%;background-repeat:no-repeat;}
.bkg-img4{background-image:url('../img/common/sub_title_04.jpg');background-position-x:50%;background-repeat:no-repeat;}
.bkg-img5{background-image:url('../img/common/sub_title_05.jpg');background-position-x:50%;background-repeat:no-repeat;}
.bkg-img6{background-image:url('../img/common/sub_title_06.jpg');background-position-x:50%;background-repeat:no-repeat;}
.bkg-img7{background-image:url('../img/common/sub_title_07.jpg');background-position-x:50%;background-repeat:no-repeat;}
.bkg-img8{background-image:url('../img/common/sub_title_08.jpg');background-position-x:50%;background-repeat:no-repeat;}
.bkg-img9{background-image:url('../img/common/sub_title_09.jpg');background-position-x:50%;background-repeat:no-repeat;}


.btn_red{background-color:#b8412d;border:1px solid #b8412d}
.btn_dark_grey{background-color:#555555;color:#fff;border:1px solid #555555}


/*btn*/
.btn{padding:10px 10px;display:block;text-align:center;font-size:14px;cursor:pointer}
.btn-small{padding:3px 15px;}

.btn-radius{border-radius:5px}

.btn_step{text-align:center}
.btn_step .btn{width:250px;margin:0 20px;display:inline-block}
.btn_step .btn:last-child{margin:0}



/*---------- common alert ------------*/
.warning_area{margin:20px 0;background-color:#ef3f1e;padding:20px;border-radius:5px;text-align:center}
.warning_alert{color:#fff;font-weight:700;font-size:20px}
.warning_alert span{font-size:16px;}	

/*empty_area*/
.empty_data2 a{padding:30px;border-radius:5px;border:1px solid #bbb;background-color:#fff;display:block}
.empty_data2 a:hover{background-color:#bbb;border:1px solid #292929}

/*slide*/
.slide_hd{background-image:url('../img/banner_bg.jpg');background-position-x:50%;background-repeat:no-repeat;height:500px; }
.slide_hd .slide_wrapper{width:1240px;margin:auto;padding:40px 0 20px 0}
.slide_hd .slide_wrapper .slide{width:960px;margin:auto;float:left}
.slide_hd .slide_wrapper .slide .tit{font-size:1.4rem;color:#fff;margin-bottom:20px}

.slide_banner:hover .img_section .hover_cnt{visibility:visible;display:inline-block}


.slide_banner{padding:0px;color:#fff}
.slide_banner>.img_section{margin-bottom:0px}

.slide_banner>.img_section img{width:100%}
.slide_banner>.img_section a >  .hover_cnt{visibility:hidden;display:none;position: absolute;top:0;left:0;padding:15px;background-color:#000;height:240px;width:200px }
.slide_banner>.img_section> a > .hover_cnt>.tit{font-weight:700;height:40px;margin-bottom:5px;font-size:18px;line-height:20px;display: -webkit-box;overflow: hidden;text-overflow: ellipsis;-webkit-line-clamp:2;}
.slide_banner>.img_section> a > .hover_cnt{color:#fff}
.slide_banner>.img_section> a > .hover_cnt>.info{border-bottom:1px solid #fff;padding:10px 0;margin-bottom:10px;font-size:14px}
.slide_banner>.img_section> a > .hover_cnt>.info .area{float:left;margin-bottom:5px;}
.slide_banner>.img_section> a > .hover_cnt>.info .bp{float:right;text-align:right;margin-bottom:5px}
.slide_banner>.img_section> a > .hover_cnt>.info .bp:after{clear:both}
.slide_banner>.img_section> a > .hover_cnt>.info .date{clear:both}
.slide_banner>.img_section a >  .hover_cnt .industry_group{font-size:14px}
.slide_banner>.img_section a >  .hover_cnt .industry_group .tit{font-size:14px;margin-bottom:5px;}
.slide_banner>.img_section a >  .hover_cnt .industry_group ul {margin:0;padding:0;list-style-type:none}
.slide_banner>.img_section a >  .hover_cnt .industry_group ul li{position:relative;background-color: #fff;color: #000;padding: 0 3px;border-radius: 5px;margin-right: 3px;float: left;margin-bottom:3px}
.slide_banner>.img_section a >  .hover_cnt .industry_group ul li span{position:absolute;right:0}

.slide_banner>.status_area .status{position: relative;margin-bottom:10px;height:18px}
.slide_banner>.status_area .status span.applying{color:red;position:absolute;left:0}
.slide_banner>.status_area .status a{position:absolute;right:0;color:#fff;font-weight:700;text-decoration:none }
.slide_banner>.status_area .deadline{position: relative;}
.slide_banner>.status_area .deadline .date{position:absolute;right:0}
.slide_banner>.status_area .deadline .date .dday{color:red;padding-left:5px}


/*slide 우측 배너*/
.slide_hd .slide_wrapper .sch_area{width:225px;background-color:#005fca;float:left;margin-left:15px;padding:20px;color:#fff}
.slide_hd .slide_wrapper .sch_area .sch{position:relative;padding-bottom:35px;border-bottom:1px solid #fff;margin-bottom:15px}
.slide_hd .slide_wrapper .sch_area .sch .tit{margin-bottom:10px;font-size:18px;font-weight:700}
.slide_hd .slide_wrapper .sch_area .sch input{display:block;width:205px;height:25px;border:none;padding:0 10px}
.slide_hd .slide_wrapper .sch_area .sch .more{position:absolute;right:0;bottom:35px;text-decoration:none;color:#fff;width:30px;cursor:pointer;background-image:url(../img/common/icon_search.png);background-repeat:no-repeat;background-position:center center}
.slide_hd .slide_wrapper .sch_area .hot_exhibition{position: relative}
.slide_hd .slide_wrapper .sch_area .hot_exhibition .tit{margin-bottom:15px;font-size:18px;font-weight:700}
.slide_hd .slide_wrapper .sch_area .hot_exhibition a.more{position:absolute;right:0;top:0;color:#fff;text-decoration:none}
.slide_hd .slide_wrapper .sch_area .hot_exhibition ul{margin:0;padding:0;list-style-type:none}
.slide_hd .slide_wrapper .sch_area .hot_exhibition ul li {margin-bottom:15px;line-height:23px;font-size:15px}
.slide_hd .slide_wrapper .sch_area .hot_exhibition ul li a{color:#fff;text-decoration:none}
.slide_hd .slide_wrapper .sch_area .hot_exhibition ul li a span{background-color:#fff;padding:0 6px;color:#f03f1e;border-radius:15px;margin-right:5px}
.slide_hd .slide_wrapper .sch_area  .sch_banner{margin-top:40px;}
.slide_hd .slide_wrapper .sch_area  .sch_banner a{padding:15px 5px;color:#000;background-color:#fff;display:block;text-align:center;color:#f03f1e;font-size:0.9rem;text-decoration:none;letter-spacing:-0.2px;border-radius:5px}


/* main small banner*/
.m_banner_section .hd_banner_area{width:1240px;margin:20px auto}
.m_banner_section .hd_banner_area .hori_banner {position:relative;background-color:#fff;padding:20px;}
.m_banner_section .hd_banner_area .hori_banner ul li {width:1050px;position:relative}
.m_banner_section .hd_banner_area .hori_banner ul li a{vertical-align: middle;display: inline-block;}
.m_banner_section .hd_banner_area .hori_banner ul li .status{color:red;font-weight:700;display:inline-block;padding-right:15px}
.m_banner_section .hd_banner_area .hori_banner ul li .tit{font-size:1.6rem;letter-spacing: -1px;color:#2e4a93;font-weight:700}
.m_banner_section .hd_banner_area .hori_banner ul li .apply{position:absolute;right:0;top:7px}
.m_banner_section .hd_banner_area .hori_banner .page_nav{position:absolute;right:20px;top:20px}


/*latest*/
.tbl-tit{background-color:#fff;border-bottom:1px solid #000;position:relative;padding:15px 0}
.tbl-tit .tit{font-size:1.3rem;color:#000;font-weight:700;letter-spacing: -1px;padding:0 15px;}
.tbl-tit .sub_tit{}
.tbl-tit .sub_tit .red{color:red}
.tbl-tit a.more{position: absolute;right:20px;top:20px;font-weight:700}
.tbl-latest{border:1px solid #e2e2e2}	
.tbl-latest table{border-spacing: 0;border-collapse: collapse;width:100%}
.tbl-latest table tbody tr{border-bottom:1px solid #e2e2e2}
.tbl-latest table tbody.notice{background-color:#f1f1f1}
.tbl-latest table tbody tr td{padding:10px;}
.tbl-latest table tbody tr td .dday{color:#fe0000;font-size:1.2rem;font-weight:700;line-height:1.8rem}
.tbl-latest table tbody tr td .status-type1{color:#fff;background-color:#fe0000;padding:3px;border-radius:5px;font-size:0.7rem}
.tbl-latest table tbody tr td .status-type2{color:#fff;background-color:#f29803;padding:3px;border-radius:5px;font-size:0.7rem}
.tbl-latest table tbody tr td .area{font-size:0.8rem;margin-bottom:5px}
.tbl-latest table tbody tr td .subject{font-size:19px;font-weight:700;color:#292929;margin-bottom:5px}
.tbl-latest table tbody tr td .other_info{color:#999999;margin-bottom:5px}
.tbl-latest table tbody tr td .more_info{}
.tbl-latest table tbody tr td .apply{background-color:#fff;padding:5px 10px;border-radius:5px;font-size:0.8rem;font-weight:700}
.text-center{text-align:center}

/*---------------------------------------sub_side_nav-------------------------------*/
.sub_side_area {border-top:2px solid #292929;margin-bottom:20px;width:250px}
.sub_side_area>ul>li>a{padding: 13px 14px;color:#292929;display:block;font-size:1.2em;text-decoration:none;border-bottom:1px solid #dde4e9;background-color:#fff;letter-spacing:-1px }
.sub_side_area>ul>li>a.active{background-color:#292929;color:#fff;}
.sub_side_area>ul>li>a:hover{background-color:#fafafa;color:#292929;}
.sub_side_area>ul>li>ul{border-bottom:1px solid #dde4e9;background-color:#fff;padding:6px 0}
.sub_side_area>ul>li>ul>li {border: 0;padding: 6px 0 6px 15px;}
.sub_side_area>ul>li>ul>li>a{color:#434c7f;display:block;font-size:1.0em;}
.sub_side_area>ul>li>ul>li>a.active{font-weight:700}
.sub_side_area ul li > a.plus_bg { background:#fff url(../img/common/plus_bg.png) no-repeat 220px 20px; }
.sub_side_area ul li.active > a.plus_bg  { background:#292929 url(../img/common/plus_bg_active.png) no-repeat 220px 20px;color:#fff }
.sub_side_area ul li:hover > a.plus_bg  { background:#fafafa url(../img/common/plus_bg.png) no-repeat 220px 20px;color:#434c7f }
.sub_side_area ul li > a.minus_bg { background:#fff url(../img/common/minus_bg.png) no-repeat 220px 20px; }
.sub_side_area ul li:hover > a.minus_bg { background:#fafafa url(../img/common/minus_bg.png) no-repeat 220px 20px; }
.sub_side_area ul li.active > a.minus_bg { background:#292929 url(../img/common/minus_bg_active.png) no-repeat 220px 20px; color:#fff}


/*고객센터 배너*/
.cs_r_banner{border:1px solid #bababa;background-color:#fff;padding:15px;width:220px}
.cs_r_banner .tit{font-size: 18px;}
.cs_r_banner .call_number{font-size: 22px;}
.cs_r_banner ul{margin:35px 0;font-size:13px}
.cs_r_banner ul li{position:relative;padding-left:60px}
.cs_r_banner ul li span{position:absolute;left:0}
.cs_r_banner .cmt{font-size: 11px;}

#bo_cate_on{background-color: #292929;color: #fff;}


/*table*/
table tbody.total tr td{background-color:#fafafa}
table tbody.total tr:last-child td{background-color:#eee;color:#292929}
table tbody tr .empty_data{padding:30px 0}

.tbl-default{border:1px solid #e2e2e2}
.tbl-default table{border-spacing: 0;border-collapse: collapse;width:100%}
.tbl-default table thead {border-top:2px solid #000;border-bottom:1px solid #000}
.tbl-default table thead th{padding:15px 5px;background-color:#fff}
.tbl-default table tbody{background-color:#fff}
.tbl-default table tbody.notice{background-color:#f1f1f1}
.tbl-default table tbody tr{border-bottom:1px solid #e2e2e2;}
.tbl-default table tbody tr td{padding:10px;}
.tbl-default table tbody tr td .dday{color:#fe0000;font-size:1.2rem;font-weight:700;line-height:1.8rem}
.tbl-default table tbody tr td .status-type1{color:#fff;background-color:#fe0000;padding:3px;border-radius:5px;font-size:0.7rem}
.tbl-default table tbody tr td .status-type2{color:#fff;background-color:#f29803;padding:3px;border-radius:5px;font-size:0.7rem}
.tbl-default table tbody tr td .area{margin-bottom:5px}
.tbl-default table tbody tr td .subject{color:#292929;margin-bottom:5px}
.tbl-default table tbody tr td .subject .sub_cmt{display:block;color:#777;margin-top:0;overflow: hidden;text-overflow: ellipsis;height:22px; }

.tbl-default table tbody tr td .cate{position:relative;padding-left:70px}
.tbl-default table tbody tr td .cate span{padding-right:10px;color:#bbb;position:absolute;left:0}
.tbl-default table tbody tr td .keyword {padding-left:70px;position:relative}
.tbl-default table tbody tr td .keyword span{padding-right:10px;color:#bbb;position:absolute;left:0}
.tbl-default table tbody tr td .more_info{font-size:19px;padding-right:10px}
.tbl-default table tbody tr td .match_point{font-size:2.6rem}
.tbl-default table tbody tr td .datetime{color:#999999}
.tbl-default table tbody tr td .apply{background-color:#fff;padding:5px 10px;border-radius:5px;font-size:0.8rem;font-weight:700;display:inline-block}

/*tbl 이미지 hove 텍스트 color 변경*/
.tbl-default.tbl-imghover table > tbody > tr:hover >  td, .tbl-default.tbl-imghover table > tbody > tr:hover >  td .datetime,.tbl-default.tbl-imghover table > tbody > tr:hover >  td .subject .sub_cmt{color:#fff}


.tbl-style01 table{border-spacing: 0;border-collapse: collapse;width:100%;font-size:1.0em}
.tbl-style01 table tbody{background-color:#fff;border-top:2px solid #000}
.tbl-style01 table tbody tr{border-bottom:1px solid #e2e2e2;}
.tbl-style01 table tbody tr td{padding:20px 10px;}
.tbl-style01 table tbody tr td:first-child{font-weight:500;color:#292929;vertical-align:top}
.tbl-style01 table tbody tr td.subject{width:110px}


.tbl-style02 table{border-top:2px solid #000;border-bottom:1px solid #000;border-collapse: separate;border-spacing: 0;width:100%;margin-bottom:20px}
.tbl-style02 table thead tr th{padding:15px;border-bottom:1px solid #aaa;background-color:#fafafa;}
.tbl-style02 table tbody tr th{background-color:#fafafa;border-bottom:1px solid #ddd;padding:5px;white-space:nowrap;min-width:15%}
.tbl-style02 table tbody tr td{background-color:#fff;border-bottom:1px solid #ddd;padding:15px 15px;position:relative}

/*estimate-tbl*/
table tbody tr td.count input{width:40px;text-align:center;border:1px solid #ddd}
.tbl-style03 table{border-collapse: separate;border-spacing: 0;width:100%;margin-bottom:10px}
.tbl-style03 table thead tr th{border-top:2px solid #000;padding:15px 5px;border-bottom:1px solid #aaa;background-color:#fff;}
.tbl-style03 table tbody tr td{border-bottom:1px solid #bbb}
.tbl-style03 table tbody tr:last-child td{border-bottom:none;}
.tbl-style03 table tbody tr td{padding:15px 5px;white-space:nowrap}
.tbl-style03 .box{border:1px solid #bbbbbb}
.tbl-style03 .box.active{border:1px solid #292929}
.tbl-style03 .box table.amount_calc{margin:0}
.tbl-style03 .box table.amount_calc ul.amount_cmt{padding:10px 10px}
.tbl-style03 .box table.amount_calc ul.amount_cmt li span{margin-left:-8px}
.tbl-style03 .box table.amount_calc ul.amount_cmt li {line-height:16px;margin-bottom:10px}
.tbl-style03 .box table.amount_calc tbody tr.total_price td{border-top:1px solid #292929}
.tbl-style03 .box table.amount_calc tbody tr td{background-color:#fff;border-bottom:1px solid #ddd;padding:10px 5px;position:relative}
.tbl-style03 .box table.amount_calc tbody tr.total_price{background-color:#fff;position:relative;font-weight:700}
.tbl-style03 .box table.amount_calc tbody tr.total_price td{border-bottom:0;padding:15px 5px;font-size:16px}

/*견적 항목 출력*/
ul.amount_calc li{border-bottom:1px solid #bbb;padding:5px 0}
ul.amount_calc li:last-child{border-bottom:none}

ul.amount_calc li span{display:inline-block}
ul.amount_calc li span.subject{width:400px;margin-right:30px;}
ul.amount_calc li span.subject input{margin-right:5px}
ul.amount_calc li span.cost{width:120px;text-align:right;margin-right:25px}
ul.amount_calc li span.count{width:100px;text-align:center}

ul.amount_calc li span.count input{width:30px;text-align:center;border:1px solid #bbb}
.amount_cmt{margin-right:20px;font-weight:500}

/*부스 선택*/
.booth_list_area{margin-bottom:20px;display:inline-block;}
.booth_list_area:last-child{margin-bottom:0}
.booth_list_area >ul >li{float:left;margin-right:10px;width:316px;}
.booth_list_area ul li:last-child{margin-right:0}
.booth_list_area ul li .box{padding:15px;min-height:330px}
.booth_list_area ul li .subject{font-size:17px;font-weight:600;margin-bottom:10px}
.booth_list_area ul li .apply_info{color:#bbbbbb;margin-bottom:7px}
.booth_list_area ul li .cost{font-size:22px;padding-top:10px;text-align:center}
.booth_list_area ul li .cost span{font-size:14px}
.booth_list_area ul li .box{}
.booth_list_area ul li.add_info .box{background-color:#fafafa}
.booth_list_area ul li.add_info .box a{color:#ef3f1e;}
.booth_list_area ul li .product_cmt{color:#bbb;margin-top:5px}


/* 할인선택 리스트 */
.discount_list li{margin-bottom:10px;position:relative;line-height:20px;}
.discount_list li label{vertical-align:top}
.discount_list li input{position:absolute;top:4px;left:0;}
.discount_list li .discount_subject{padding-left:20px;width:160px;}
.discount_list li .discount_cmt{position:absolute;left:200px;top:0}
			
			
			
/*견적 button*/
.amount_calc button {margin: 0 0 0 1px;background-color: #604c3f;min-width: 16px;}
button.btn_calcline {display: inline-block;padding: 0;height: 16px;border: 0;letter-spacing: -0.1em;text-decoration: none;vertical-align: middle;color:#fff;}

/*tbl-setting*/
.tbl-midium table tbody tr td{padding:8px}
.tbl-borderd table {border-left:1px solid #ccc}
.tbl-borderd table thead tr th{border-right:1px solid #ccc}
.tbl-borderd table tbody tr td{border-right:1px solid #ccc}

.tbl-striped table > tbody > tr:nth-of-type(odd) {background-color: #f9f9f9;}
.tbl-hover table > tbody > tr:hover {cursor: pointer;color:#bbbbbb; background-color:#292929}

.tbl-hover table > tbody > tr:hover a{color:#fff}
.tbl-hover2 table tbody tr:hover,.tbl-hover2 tbody tr:focus{background-color:#F7F7F7;cursor: pointer;}
.more_view a{background-color:#fff;display:block;text-align:center;padding:20px;cursor:pointer}
.more_view a:hover{color:#000;background-color:#fafafa}

/*tbl-img-hover*/
.tbl-imghover table > tbody > tr:hover:nth-child(1n+1) {cursor: pointer;color:#bbbbbb; background-image:url('../img/common/sub_title_06.jpg');}
.tbl-imghover table > tbody > tr:hover:nth-child(2n+1) {cursor: pointer;color:#bbbbbb; background-image:url('../img/common/sub_title_07.jpg');}
.tbl-imghover table > tbody > tr:hover:nth-child(3n+1) {cursor: pointer;color:#bbbbbb; background-image:url('../img/common/sub_title_08.jpg');}

/*---------------------------sub page---------------------------*/
/*sub_side_area*/
.apply_side_area {border-top:2px solid #292929;padding:15px;margin-bottom:20px;width:220px;z-index:99}
.apply_side_area .apply_exhi_info{margin-bottom:30px}
.apply_side_area .apply_exhi_info .tit{margin-bottom:10px}
.apply_side_area .apply_exhi_info .subject{font-size:14px;margin-bottom:10px}
.apply_side_area .apply_exhi_info .area{}
.apply_side_area .apply_exhi_info .date{}
.apply_side_area .apply_step{margin-bottom:20px}
.apply_side_area .apply_step .tit{margin-bottom:10px}
.apply_side_area .apply_step ul{background-image: url('../img/common/side_apply_step.png');background-position: 5px;background-repeat: no-repeat;}
.apply_side_area .apply_step ul li{margin-bottom:60px;margin-left:22px;font-size:13px;color:#999999;padding:3px 0 3px 15px}
.apply_side_area .apply_step ul li.active{font-weight:700;background-color:#292929; color:#ffffff}
.apply_side_area .apply_step ul li:last-child{margin-bottom:0}
	
/*sub_head*/
#sub_hd{height:200px;}
#sub_hd .wrapper{width:1240px;margin:auto;position:relative;height:200px;color:#fff}
#sub_hd .wrapper .tit_area{position:absolute;left:0;bottom:20px}
#sub_hd .wrapper .tit_area .hd_tit{font-size:2.2em}
#sub_hd .wrapper .tit_area .shot_line{border:2px solid #fff;width:50px;margin:20px 0}
#sub_hd .wrapper .tit_area .hd_sub_tit{font-size:2.2em;line-height:1.1em}
#sub_hd .wrapper .banner_area{position:absolute;right:0;bottom:20px;}
#sub_hd .wrapper .banner_area a{padding:15px 5px;color:#000;background-color:#fff;display:block;text-align:center;color:#f03f1e;font-size:0.9rem;text-decoration:none;letter-spacing:-0.2px;border-radius:5px}

/*sub_default*/
.sub_tit_type1{margin-bottom:10px;position:relative}
.sub_tit_type1 span{font-size:16px;min-width:100px;display:inline-block}

			
/*box 형 리스트*/
.box_type1{border:1px solid #bbbbbb;}
.box_type1 ul{padding:10px;display:inline-block;}
ul.listtype2 li{float:left;padding-left:50px;margin:10px 0;width:400px;min-height:50px}
ul.listtype2 li label{padding-left:5px}
ul.listtype2 li .listtype2_cmt{margin-left:20px}


/* sub quick search*/
.sub_container .section{margin-bottom:50px;display:block;}
.sub_container.large{font-size:1.35em}
.sub_container .tit{padding-bottom:5px;}

.sub_container .sub_tit{font-size:22px;margin-bottom:12px;position:relative}
.sub_container> .sub_tit> small{font-size:0.75em}
.sub_container .quick_sch{background-color:#fff;border-top:2px solid #000;border-bottom:1px solid #e2e2e2;margin-bottom:30px}

.sub_container .quick_sch .chk_keyword{padding:15px 10px}
.sub_container .quick_sch .chk_keyword ul li{float:left;padding:2px 3px 2px 0}
.sub_container .quick_sch .cate_sch{border-top:1px solid #000;padding:15px 10px;position:relative}
.sub_container .quick_sch .cate_sch .select_area{}

.sub_container .quick_sch .cate_sch .select_area select{padding:5px;border:1px solid #cccccc;margin-right:5px}
.sub_container .quick_sch .cate_sch .sch_area{position: absolute;right:10px;bottom:15px}
.sub_container .quick_sch .cate_sch .sch_area input{width:200px;padding:5px;border:1px solid #cccccc}
.sub_container .quick_sch .cate_sch .sch_area button{border:none;padding:5px;border-radius:2px}

/*tab*/
.sch-tab{margin-bottom:15px;display:inline-block;width:100%}
.sch-tab .tab_pd {text-align: center;list-style: none;padding: 0;margin: 0;border-bottom:0}
.sch-tab .tab_pd li {float: left;background-color: #fff;width:33.333333%}
.sch-tab .tab_pd li:first-child a {border-left: 1px solid #d9d9d9;}
.sch-tab .tab_pd li a {cursor:pointer; display: block;padding:10px 15px;min-width:100px;border-top: 1px solid #d9d9d9;border-right: 1px solid #d9d9d9;border-bottom:1px solid #d9d9d9;font-size:1.25em}
.sch-tab .tab_pd li.active a {font-weight: 700;display: block;color: #fff;background-color: #292929;}

.sub_container .quick_sch{padding:50px}
.sub_container .quick_sch .sch_bg{background-color:#fafafa;padding:45px 97px 15px 97px;}
.sub_container .quick_sch .sch_area {background-color:#fff;margin:20px auto;text-align:center;position:relative;width:500px;}
.sub_container .quick_sch .sch_area input{padding:10px 0px 10px 15px;border:2px solid #ed4022;width:481px}
.sub_container .quick_sch .sch_area button{padding:10px 15px;background: #fff url(../img/common/search_bt.jpg) no-repeat 0px 0px;width:49px;height:36px;border:none;position:absolute;right:2px;top:2px}
.sub_container .quick_sch .sch_area button:hover{background: #fff url(../img/common/search_bt_hover.jpg) no-repeat 0px 0px;}

.sub_container .quick_sch .group_localarea {border-bottom:1px solid #ccc;margin-bottom:20px;padding-bottom:20px}
.sub_container .quick_sch .group_localarea button{border:1px solid #a0a0a0;background-color:#fff;padding:5px 28px;font-size:16px;font-weight:600;color:#666;margin-bottom:5px;}
.sub_container .quick_sch .group_localarea button.active{border:1px solid #a0a0a0;background-color:#3c3c3c;color:#fff}


.sub_container .quick_sch .cmt{margin-bottom:20px}
.sub_container .quick_sch .chk_keyword{padding:0;position:relative;margin:auto;}
.sub_container .quick_sch .chk_keyword ul {display:inline-block;margin-left:-100px;position:relative;max-width:800px}
.sub_container .quick_sch .chk_keyword ul li label{padding-left:5px}
.sub_container .quick_sch .chk_keyword .reset_area{position:absolute;right:-104px;bottom:6px}
.sub_container .quick_sch .chk_keyword .reset_area .sch_reset{padding:10px 15px;background: #fff url(../img/common/reset_bt.jpg) no-repeat 0px 0px;width:55px;height:31px;border:none;cursor:pointer;}
.sub_container .quick_sch .chk_keyword .reset_area .sch_reset:hover{background: #fff url(../img/common/reset_bt_hover.jpg) no-repeat 0px 0px;}
.sub_container .quick_sch .chk_keyword .reset_area .sch_button{padding:10px 15px;background: #fff url(../img/common/search_small_bt.jpg) no-repeat 0px 0px;width:46px;height:31px;border:none;margin-bottom:0}
.sub_container .quick_sch .chk_keyword .reset_area .sch_button:hover{background: #fff url(../img/common/search_small_bt_hover.jpg) no-repeat 0px 0px;}
	
/*산업군 검색*/
.sub_tit_area{margin-bottom:5px;font-size:15px}
.industry_list{position:relative;margin:auto;width:700px}
.sub_container .quick_sch .industry_list .reset_area{position:absolute;right:-20px;bottom:0px}
.sub_container .quick_sch .industry_list button{padding:10px 15px;background: #000000 url(../img/common/search_small_bt.jpg) no-repeat 0px 0px;width:46px;height:31px;border:none;}

.sub_container .cate_list {position:relative;display: inline-block;vertical-align: top;margin:0 20px;background-color: #fff;height: 260px;padding: 15px;border: 1px solid #ddd;}
.sub_container .cate_list:first-child{}
.sub_container .cate_list .cmt_alert{position:absolute;top:50%;margin-top:-20px;left:57px}

ul.cate_dep_list{background-color:#fafafa;max-height:230px;overflow-y:auto;width:250px;}
ul.cate_dep_list li{position:relative;font-size:14px;border-bottom:1px solid #ccc;border-top:1px solid #fff;}
ul.cate_dep_list li .btn{cursor:pointer;display:block;text-align:left}
ul.cate_dep_list li a.active{background-color:#292929;color:#fff}	



/*detail view*/
.sub_container .exhi_summary_area{background-color:#fff;padding:15px;font-size:1.0rem;position:relative;border: 1px solid #ccc;}
.sub_container .exhi_summary_area> .exhi_area{display:inline-block;width:100%;}
.sub_container .exhi_summary_area> .exhi_area> .tit{font-size:1.8rem;font-weight:600;padding-bottom:0;width:80%}
.sub_container .exhi_summary_area .exhi_area .sub_tit{font-size:16px;width:80%}
.sub_container .exhi_summary_area .exhi_area .exhi_schedule{color:#292929;margin-bottom:15px}
.sub_container .exhi_summary_area .exhi_area .exhi_area_tail{height:50px;position:relative}
.sub_container .exhi_summary_area .exhi_area .exhi_area_tail a.btn{width:140px}
.sub_container .exhi_summary_area .exhi_area .exhi_cate{font-size:14px;border-top:1px solid #e2e2e2;padding-top:15px}
.sub_container .exhi_summary_area .exhi_area .exhi_keyword{}

.sub_container .exhi_summary_area .exhi_area .exhi_area_tail .exhi_apply{display:inline-block}
.sub_container .exhi_summary_area .exhi_area .exhi_area_tail .exhi_apply li{float:left}
.sub_container .exhi_summary_area .exhi_area .exhi_area_tail .exhi_cert_logo{display:inline-block;}
.sub_container .exhi_summary_area .exhi_area .exhi_area_tail .exhi_cert_logo li{float:left;padding:0 10px}

.sub_container .exhi_summary_area .exhi_point_area{position:absolute;right:20px;bottom:0;min-height:100px;cursor:pointer;width:140px}
.sub_container .exhi_summary_area .exhi_point_area .title{font-size:14px;}
.sub_container .exhi_summary_area .exhi_point_area .total_point{font-size:30px;font-weight:700;color:#292929;text-align:right}
.sub_container .exhi_summary_area .exhi_point_area .total_point span{font-size:70px;font-weight:700}
.sub_container .exhi_summary_area .exhi_point_area .tip{font-size:0.8rem}

.sub_container .exhi_summary_area .exhi_detail_point{border-top:1px solid #ccc;padding-top:20px;margin-top:20px}
.sub_container .exhi_summary_area .exhi_detail_point .title{font-weight:700;margin-bottom:20px}
.sub_container .exhi_summary_area .exhi_detail_point .match_point{float:left;width:20%}
.sub_container .exhi_summary_area .exhi_detail_point .match_point .tit{font-size:0.8rem}
.sub_container .exhi_summary_area .exhi_detail_point .match_point .point{font-size:1.5rem;color:#292929;font-weight:700}
.sub_container .exhi_summary_area .exhi_detail_point .match_point .point span{font-size:3.5rem;letter-spacing:-1px}

/*주최자 한마디*/
.organizer_cmt{border:1px solid #ccc;padding:15px 30px;text-align:center;border-radius:5px;margin-bottom:40px;background-color:#fff;position:relative}

/*map-tit*/
.exhi_area_map {color:#bbbbbb}
.exhi_area_map .showroom{color:#292929;font-size:18px;padding-right:30px}

/*list style1*/
.con-list-style01 li{border-bottom:1px solid #e2e2e2;padding:6px 0 10px 0;display:inline-block;position:relative}
.con-list-style01 li:first-child{padding-top:0}
.con-list-style01 li:last-child{border-bottom:0;padding-bottom:0}
.con-list-style01 li .sub_con_tit{width:150px;padding-right:10px;float:left;position:relative;padding-left:60px}
.con-list-style01 li .sub_con_tit span{position:absolute;left:0px;color:#bbbbbb}
.con-list-style01 li .sub_con_content{width:550px;float:left;position:relative;padding-left:60px; }
.con-list-style01 li .sub_con_content span{position:absolute;left:0px;color:#bbbbbb}
/*list style2 */
.con-list-style02 li{border-bottom:1px solid #e2e2e2;padding:6px 0 10px 0;display:inline-block;position:relative}
.con-list-style02 li:first-child{padding-top:0}
.con-list-style02 li:last-child{border-bottom:0;padding-bottom:0}
.con-list-style02 li .sub_con_tit{width:120px;padding-right:10px;float:left;position:relative;padding-left:90px}
.con-list-style02 li .sub_con_tit span{position:absolute;left:0px;color:#bbbbbb}
.con-list-style02 li .sub_con_content{width:555px;float:left;position:relative;padding-left:55px}
.con-list-style02 li .sub_con_content span{position:absolute;left:0px;color:#bbbbbb}

.con-list-style03 li{border-bottom:1px solid #e2e2e2;padding:6px 0 10px 0;display:inline-block;position:relative;width:100%}
.con-list-style03 li:first-child{padding-top:0}
.con-list-style03 li:last-child{border-bottom:0;padding-bottom:0}
.con-list-style03 li .sub_con_tit{width:170px;padding-right:10px;float:left;position:relative;padding-left:0px}
.con-list-style03 li .sub_con_content{width:640px;float:left;position:relative;padding-left:0px; }

.con-list-style04 li{border-bottom:1px solid #e2e2e2;padding:6px 0 10px 0;display:inline-block;position:relative}
.con-list-style04 li:first-child{padding-top:0}
.con-list-style04 li:last-child{border-bottom:0;padding-bottom:0}
.con-list-style04 li .sub_con_tit{width:300px;padding-right:10px;float:left;position:relative;padding-left:0px}
.con-list-style04 li .sub_con_content{width:410px;float:left;position:relative;padding-left:0px; } 

.con-list-style05 li{border-bottom:1px solid #e2e2e2;padding:6px 0 10px 0;display:inline-block;position:relative}
.con-list-style05 li:first-child{padding-top:0}
.con-list-style05 li:last-child{border-bottom:0;padding-bottom:0}
.con-list-style05 li .sub_con_tit{width:650px; padding-right:10px;float:left;position:relative;padding-left:170px}
.con-list-style05 li .sub_con_tit span{position:absolute;left:0px;color:#999999;max-width: 160px;}
.con-list-style05 li .sub_con_pay{width:120px;padding-right:10px;float:left;position:relative;padding-left:0px;font-weight:600}
.con-list-style05 li .sub_con_info{padding-left:130px;}
.con-list-style05 li .sub_con_content{width:400px;float:left;position:relative;padding-left:55px}
.con-list-style05 li .sub_con_content span{position:absolute;left:0px;color:#bbbbbb}


/*liststyle_column*/
ul.list-style-one>li{display:block;margin-bottom:20px}
ul.list-style-one>li:last-child{margin-bottom:0px}
ul.list-style-one>li .lstyle-tit{margin-bottom:5px}
ul.list-style-one>li .lstyle-subtit{color:#777777;}
ul.list-style-one>li > .lstyle-subtit > .link{background-color:#ddd;color:#fff;padding:0 5px;font-size:11px;}
ul.list-style-one>li > .lstyle-subtit > .link:hover{background-color:#292929;color:#fff}
ul.list-style-one>li > .sub_con_content{color:#bbbbbb;display:block;padding-right:10px;margin-bottom:15px}



ul.list-style-two>li{display:inline-block;width:49%;vertical-align:top}
ul.list-style-two>li .lstyle-tit{color:#999;}
ul.list-style-two>li .lstyle-subtit{}
ul.list-style-two>li .cmt{font-size:0.8em;color:#999;font-weight:300}
ul.list-style-two>li > ul > li{color:#444444;display:block;padding-right:10px;}
ul.list-style-two>li > ul > li > p{font-weight:600} 

/*2depth*/
ul.list-style-two>li > ul.two-depth > li{position:relative;padding-left:110px}
ul.list-style-two>li > ul.two-depth > li span{position:absolute;left:0;width:110px;color:#444444}

/*tag 형식*/
.con-list-style06 li{float:left;margin-right:30px}

	
/*---------------------------register ---------------------------*/ 
/*register*/
.fregister{border-top:2px solid #000;padding:20px}
.fregister section {position:relative;padding:10px 0;margin:0 50px}
.fregister .tit{padding-left:50px}
.fregister div.line {border-top:1px solid #e2e2e2;margin:20px 0;display:block}
.fregister section .fregister_agree{}
.fregister section  label{padding-left:5px}
.fregister section .right_area{position:absolute;right:0;top:0;width:200px;text-align:right}
.fregister section .right_area span{padding-right:20px}
.fregister section .right_area span:last-child{padding-right:0}
.fregister section a{color:#b4b4b4;border:1px solid #b4b4b4;padding:5px 10px;border-radius:5px;text-align:center;display:block}

.register_type .tit{font-size:1rem}
.register_type .section_inner{margin:10px 0;display:inline-block;}
.register_type .section_inner a{padding:10px 15px;font-size:1.0rem;color:#fff;display:inline-block}
.register_type ul{margin-left:1px}
.register_type li{border:1px solid #dddddd;margin-left:-1px;margin-top:-1px; width:443px;text-align:center;padding:50px 20px;float:left;background-color:#fff;}
.register_type li p{font-size:0.8rem}

/*regi_form*/
.fregister .register_step{border-bottom:1px solid #e2e2e2;padding-bottom:20px;margin-bottom:20px}
.regi_area{padding:20px 30px 50px 30px;position:relative}	
.regi_area .tit{padding:0;margin-bottom:30px;font-size:1.1rem;}
.regi_area .tit a{color:#666;}
.regi_area .next_area {padding:40px 0;position:relative;width:450px;}
.regi_area .next_area input{padding:10px;width:270px;position:absolute;right:0}

.regi_area .tail{position:absolute;bottom:5px}
.regi-style01{width:450px;display:inline-block;vertical-align:top;border-right:1px solid #e2e2e2;padding-right:30px;margin-right:50px}
.regi-style01 table{border-spacing: 0;border-collapse: collapse;width:100%;font-size:0.8rem}
.regi-style01 table tbody{background-color:#fff;}
.regi-style01 table tbody tr:last-child td{padding-bottom:30px}
.regi-style01 table tbody tr td{padding:10px 0;}
.regi-style01 table tbody tr td:first-child{font-weight:500;color:#292929;width:120px}
.regi-style01 table tbody tr td input{border:1px solid #ccc;padding:10px 10px;border-radius:5px;width:308px;}
.regi-cmt{width:300px;display:inline-block;vertical-align:top;}
.regi-cmt .tit{font-size:1rem;font-weight:400;margin-bottom:50px;text-decoration:underline}
.regi-cmt ul li{margin-bottom:2.4rem;font-size:0.8rem}
.regi-cmt ul li ul{padding-left:10px;color:#8d8d8d;}
.regi-cmt ul li ul li{margin-bottom:0}

.regi-style01 td textarea{width:308px;padding:10px;border:1px solid #ccc;min-height:150px}
.regi-style01 td select{width:330px;padding:10px;border:1px solid #ccc;margin-bottom:10px}

.regi-style02{width:600px;display:inline-block;vertical-align:top;border-right:1px solid #e2e2e2;padding-right:30px;margin-right:30px}
.regi-style02 table{border-spacing: 0;border-collapse: collapse;width:100%;font-size:0.8rem}
.regi-style02 table tbody{background-color:#fff;}
.regi-style02 table tbody tr:last-child td{padding-bottom:30px}
.regi-style02 table tbody tr td{padding:10px 0;}
.regi-style02 table tbody tr td:first-child{font-weight:500;color:#292929;width:120px}
.regi-style02 table tbody tr td input{border:1px solid #ccc;padding:10px 10px;border-radius:5px;width:95%}
.regi-style02 td textarea{width:95%;padding:10px;border:1px solid #ccc;min-height:150px}
.regi-cmt2{width:220px;display:inline-block;vertical-align:top;}
.regi-cmt2 .tit{font-size:1rem;font-weight:400;margin-bottom:20px;text-decoration:underline}
.regi-cmt2 ul li{margin-bottom:5px;font-size:0.8rem}
.regi-cmt2 ul li ul{padding-left:10px;color:#8d8d8d;}
.regi-cmt2 ul li ul li{margin-bottom:0}


/*regi_result*/
.register_result .title{font-size:19px;margin-bottom:20px}
.register_result p{margin-bottom:10px;font-size:16px;}
		
/*apply form*/
.form_area{padding:50px 30px;position:relative}	
.form_area .tit{padding:0;margin-bottom:30px;font-size:1.1rem;}
.form_area .tit a{color:#666;}
.form_area .next_area {padding:40px 0;position:relative;width:381px;}
.form_area .next_area a{padding:10px;width:240px;position:absolute;right:0;color:#fff}
.form_area .tail{position:absolute;bottom:5px}
.form-style01{width:450px;display:inline-block;vertical-align:top;border-right:1px solid #e2e2e2;padding-right:30px;margin-right:50px}
.form-style01 table{border-spacing: 0;border-collapse: collapse;width:100%;font-size:0.8rem}
.form-style01 table tbody{background-color:#fff;}
.form-style01 table tbody tr:last-child td{border-bottom:1px solid #e2e2e2;padding-bottom:30px}
.form-style01 table tbody tr td{padding:10px 0;}
.form-style01 table tbody tr td:first-child{font-weight:500;color:#292929;width:120px}
.form-style01 table tbody tr td input{border:1px solid #ccc;padding:10px 10px;border-radius:5px;width:240px;}
.form-cmt{width:300px;display:inline-block;vertical-align:top;}
.form-cmt .tit{font-size:1rem;font-weight:400;margin-bottom:50px;text-decoration:underline}
.form-cmt ul li{margin-bottom:2.4rem;font-size:0.8rem}
.form-cmt ul li ul{padding-left:10px;color:#8d8d8d;}
.form-cmt ul li ul li{margin-bottom:0}

.form-style01 td textarea{width:250px;padding:10px;border:1px solid #ccc;min-height:150px}
.form-style01 td select{width:272px;padding:10px;border:1px solid #ccc;margin-bottom:10px}



/*mypage 정리전*/
.thumbnail_list{margin-bottom:20px;display:inline-block}
.thumbnail_list:last-child{margin-bottom:0}
.thumbnail_list >ul >li{float:left;margin-right:10px;width:316px;}
.thumbnail_list ul li:last-child{margin-right:0}
.thumbnail_list ul li .box{padding:15px}
.thumbnail_list ul li .tit{position:relative;margin-bottom:10px;font-size:}
.thumbnail_list ul li .tit .more_info{position:absolute;right:0;top:0}
.thumbnail_list ul li .subject{font-size:17px;font-weight:600}
.thumbnail_list ul li .apply_info{color:#bbbbbb;margin-bottom:7px}
.thumbnail_list ul li .cost{font-size:22px}
.thumbnail_list ul li .cost span{font-size:14px}
.thumbnail_list ul li .box{}
.thumbnail_list ul li.add_info .box{background-color:#fafafa}
.thumbnail_list ul li.add_info .box a{color:#ef3f1e;}


.thumbnail_list ul li .product_cmt{color:#bbbbbb;margin-top:10px;margin-bottom:20px}
.thumbnail_list ul li .product_tag{color:#bbbbbb}
.thumbnail_list ul li .add_product{padding:23px 0 33px 0}

.thumbnail_content{min-height:89px;}
.thumbnail_content ul li{float:none;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.thumbnail_content ul li span{padding-right:5px}

.hover-type01:hover, .hover-type01:hover a, a.hover-type01:hover{background-color:#292929!important;color:#fff!important}

.bank_info_area .account_info .bank_logo{position:relative}
.bank_info_area .account_info .bank_account{font-size:35px;font-weight:300}
.bank_info_area .account_caution{padding-left:50px}

/* exhi_apply_status */
.exhi_apply_step ul li{float:left;margin:10px 30px;}
.exhi_apply_step ul li:first-child{margin-left:60px}
.exhi_apply_step ul li:last-child{margin-right:60px}
.exhi_apply_step ul li a{background-color: #fff;border:2px solid #bbbbbb;padding:15px 20px;display:block;min-width: 117px;text-align:center;border-radius:5px}
.exhi_apply_step ul li.active a{border:2px solid #f29803}

/*마이페이지 전시회 상세 페이지*/
.sub_container .exhi_summary_area .exhi_point_area.myapply_view{top:25px}

/*tab*/
.inline-tab{margin-bottom:10px;position: relative}
.inline-tab .tab_pd {text-align: center;list-style: none;border-bottom: 1px solid #292929;height: 37px;padding: 0;margin:0;}
.inline-tab .tab_pd li {float: left;background-color: #f9f9f9;height: 37px;}
.inline-tab .tab_pd li:first-child a {border-left: 1px solid #e9e9e9;}
.inline-tab .tab_pd li a {line-height: 36px;display: block;padding:0 15px;min-width:100px;border-top: 1px solid #d9d9d9;border-right: 1px solid #d9d9d9;}
.inline-tab .tab_pd li.active a {font-weight: 700;display: block;border-top: 1px solid #292929;border-left: 1px solid #292929;border-right: 1px solid #292929;line-height: 36px;background-color: #fff;color: #3b3f4a;}
.inline-tab > .r-btn-area{position:absolute;right:0;bottom:0}


/*popup*/
/*custom radio*/
input.select[type="radio"],input.select[type="checkbox"] {display:none}
/* 디폴트 상태 */
input.select[type="radio"] + label,input.select[type="checkbox"] + label {display:block; background-color:#ffffff;cursor:pointer }
/* 온상태일때 */
input.select[type="radio"]:checked + label {background-color:#292929}
input.select[type="radio"]:checked + label .subject, input.select[type="radio"]:checked + label .tit,
input.select[type="radio"]:checked + label .cost{color:#fff}		

/*즐겨찾기 아이콘 스타일*/
/*board-list-type*/
.favorite_icon{z-index:9999;background-image:url('../img/common/favorite_off.png');background-size:40px;width:25px;height:25px;border:none;position:absolute;top:0;left:0;background-repeat:no-repeat;}
.favorite_icon:hover{background-image:url('../img/common/favorite_off.png')}
.favorite_icon.on{background-image:url('../img/common/favorite_on.png')}
/*board-view-type*/
.exhi_summary_area .favorite_area{position: absolute;right:0;top:0;}
.exhi_summary_area .favorite_area .icon{position:relative;font-size:14px;}
.exhi_summary_area .favorite_area .icon a.favorite_icon2 span{position:absolute;left:-6px;margin-left:-100px;padding:2px 5px;top:30px}
.exhi_summary_area .favorite_area .icon a.favorite_icon2.on span{background-color:#292929;color:#fff;border-radius:5px }

.favorite_icon2{z-index:9999;background-image:url('../img/common/favorite_off2.png');background-size:70px;width:70px;height:70px;border:none;position:absolute;top:-16px;right:15px;background-repeat:no-repeat;}
.favorite_icon2:hover{background-image:url('../img/common/favorite_off2.png')} 
.favorite_icon2.on{background-image:url('../img/common/favorite_on2.png')}


/*툴팁*/
.exhi_point_area a:hover .tooltip{border:2px solid #292929;display:inline-block;position:absolute;top:-85px;left:-100px;padding:15px;background-color:#fff;width:200px;border-radius:5px;z-index:9999}
.tooltip{font-size:14px}
.tooltip{display:none}
	
.tooltip:after {content: '';position: absolute;border-top: 10px solid #fff;border-right: 10px solid transparent;border-left: 10px solid transparent;bottom: -7px;right: 30px;}
.tooltip:before {content: '';position: absolute;border-top: 10px solid #292929;border-right: 10px solid transparent;border-left: 10px solid transparent;bottom: -11px;right: 30px;}

/*부스선택 - 할증할인 그룹*/
.disc_group{position:relative;}
.disc_group .group_tit{margin-bottom:10px}
ul.disc_list{margin-left:-5px}
ul.disc_list li{float:left;border:1px solid #ccc;background-color:#fff;width:233px;min-height:50px;margin-bottom:5px;margin-left:5px;position:relative}

ul.disc_list li input.select[type="radio"],input.select[type="checkbox"] {display:inline-block;position:absolute;right:5px;top:5px}
ul.disc_list li input.select[type="radio"]:checked + label,
ul.disc_list li input.select[type="checkbox"]:checked + label {background-color:#fdffec}

ul.disc_list li label .opt{padding:15px;min-height: 44px;}

.disc_group .pd_add_area{background-color:#fafafa;vertical-align:top;padding-top:5px;padding-bottom:5px;vertical-align:bottom}
.pd_add_area .pd_add_list ul{}
.pd_add_area .pd_add_list ul li:first-child{padding-top:0;border-top:0}
.pd_add_area .pd_add_list ul li{padding-top:8px;font-size:13px;position:relative;padding-bottom:5px;background-image: url('../img/common/bottom_line.gif');background-repeat:repeat-x;background-position-y:bottom }
.disc_group .pd_add_area .cost{text-align:right;font-size:1.0em;position:absolute;right:0;bottom:5px}


.disc_group .pd_total_cost{position:relative;padding:5px 0px;text-align:right;width:195px;height:42px}
.disc_group .pd_total_cost .cost{font-size:1.4em;}

.disc_group .group_total_cost .disc_sum{font-size:2em;text-align:right}
.disc_group .group_cmt{border:1px solid #ccc;padding:15px;background-color:#fff}
.disc_group .group_cmt .cmt_area{margin-bottom:10px}
.disc_group .group_cmt .cmt_area:last-child{margin-bottom:0}
.disc_group .group_cmt .cmt_area .tit{padding-bottom:3px}
.disc_group .group_cmt .cmt_area p{font-size:13px;padding-left:10px}

/*부스 코멘트*/
.booth_cmt{border:1px solid #ccc;padding:15px;background-color:#fff;margin-bottom:40px}
.booth_cmt .cmt_area p{font-size:13px;padding-left:10px}

.booth_cmt .cmt_area .add_file{padding-left:10px;font-size:13px;padding-top:10px}
.booth_cmt .cmt_area .add_file ul{position:relative}
.booth_cmt .cmt_area .add_file ul span{position:absolute;left:0;}
.booth_cmt .cmt_area .add_file ul li{padding-left:70px}










/*0518 사용*/
