@charset "utf-8";
/* ra_dev */
@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");
@import url("http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css");
@import url(//cdn.jsdelivr.net/nanumsquare/1.0/nanumsquare.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

/*common*/
.full_container{font-size:1.4em}
body{font-family:'nanumsquare','dotum';}
ul:after {content:""; display:block; clear:both;}
section{margin:30px 0}
.row{width:1200px;margin:auto;padding:50px 0}
.row:after {content:""; display:block; clear:both;}
.full-width, .full_width {width: 100vw;position: relative;left: 50%;margin-left: -50vw;}
.img-responsive{width:100%}

.text-right{text-align:right!important}
.text-center{text-align:center!important}
.text-left{text-align:left!important}

/*margin-padding*/
.ml-30{margin-left:30px;}
.mb-50{margin-bottom:50px!important}
.mb-45{margin-bottom:45px!important}
.mb-40{margin-bottom:40px!important}
.mb-35{margin-bottom:35px!important}
.mb-30{margin-bottom:30px!important}
.mb-25{margin-bottom:25px!important}
.mb-20{margin-bottom:20px!important}
.mb-15{margin-bottom:15px!important}
.mb-10{margin-bottom:10px!important}
.mb-0{margin-bottom:0px!important}
/*padding-padding*/
.pb-0{padding-bottom:0px!important}
.pr-5{padding-right:5px!important}

/*fontweight*/
.fw-700{font-weight:700!important}
.fw-600{font-weight:600!important}
.fw-500{font-weight:500!important}
.fw-400{font-weight:400!important}
.fw-300{font-weight:300!important}
.fw-200{font-weight:200!important}
.fw-100{font-weight:100!important}

hr.line{border:none;padding:15px;margin:20px 0;display:block;background:url(../img/common/pattern_02.png) no-repeat center center;}

	
/*background-image*/
.bk-img1{background-image:url('../img/common/bkg01.jpg');background-position-x:50%;background-repeat:no-repeat;}

/* color-setting */
.bkg1,.bkg2,.bkg3,.bkg4,.bkg5,.bkg6,.bkg7{border:none}
.bkg1, a.bkg1{background-color:#292929!important;color:#fff}
.bkg1, a.bkg1:hover{background-color:#292929!important;color:#fff}

.bkg2, a.bkg2{background-color:#777777!important;color:#fff}
.bkg3, a.bkg3{background-color:#999999!important;color:#fff}
.bkg3, a.bkg3:hover{background-color:#292929!important;color:#fff}

.bkg4, a.bkg4{background-color:#bbbbbb!important;color:#fff}
.bkg5, a.bkg5{background-color:#ed4022!important;color:#fff}
.bkg6, a.bkg6{background-color:#f29803!important;color:#fff}
.bkg7, a.bkg7{background-color:#fff!important;color:#292929}

.color1, a.color1{color:#292929!important}
.color2, a.color2{color:#777777!important}
.color3, a.color3{color:#999999!important}
.color4, a.color4{color:#bbbbbb!important}
.color5, a.color5{color:#ef3f1e!important}
.color6, a.color6{color:#f29803!important}
.color7, a.color7{color:#fff!important}


/*main*/
#slider .item .slide-bg {height:640px;background-repeat: no-repeat; background-position: center bottom;}
#slider .item .slide-bg .txt_area{display:inline-block}
#slider .item .slide-bg .txt_area img{position:absolute;width:300px}
.mslide_txt .txt_area{position:absolute;right:10%;bottom:50%;margin-bottom:-320px;z-index:9;}

/*tit_seciton*/
.tit_section{text-align:center;margin:50px 0}
.tit_section .tit{font-size:3.5em;font-weight:900;font-family:Arial,dotum;letter-spacing:-4px;color:#3f362e; text-shadow: 1px 1px 3px #ccc;margin-bottom:20px }


/*main*/
.m_sub_tit{margin-bottom:50px}
.m_sub_tit .tit_img{margin-bottom:15px}
.m_sub_tit .tit_cmt{margin-bottom:15px;font-size:1.2em;}
/*main quick link*/
ul.m_qlink:after {content:""; display:block; clear:both;}
ul.m_qlink li{float:left;margin-right:34px;border-radius:50%;position:relative;}
ul.m_qlink li:last-child{margin-right:0}
ul.m_qlink li a.hover-link{display:none;}
ul.m_qlink li:hover a.hover-link{background-color:rgba(0,0,0,0.5);
display:inline-block;position:absolute;top:0;left:0px;height:267px;width:267px;border-radius:50%;
line-height:15.5em;color:#fff;text-decoration:none;font-size:1.1em;}
ul.m_qlink li .tit{font-size:1.2em;margin-top:15px;margin-bottom:5px;color:#3f362e}
ul.m_qlink li .sub_tit{font-size:1.0em;color:#999999;margin-top:5px;margin-bottom:15px}
ul.m_qlink li a.more_info{border:2px solid #3f362f;padding:10px 30px;display:inline-block;font-weight:600;background-color:#f7f7f7;text-decoration:none}
ul.m_qlink li a.more_info:hover{background:#3f362e;color:#f7f7f7;}

/*list-style-type*/
.tip {line-height:1.8em;}
.tip .tit{font-size:1.8em;margin:15px 0 15px 0;font-weight:600}
.tip ul{padding-left:10px;}
.tip>li{padding-left: 13px;background: url(../img/common/dot1.gif) no-repeat left 11px;}
.tip .highlight{color:#604c3f;font-weight:600}

.list-style01{margin-bottom:30px}
.list-style01 .tit{font-size: 1.8em;margin: 15px 0 10px 0;font-weight:600;}
.list-style01 span{font-weight:600}

/*sub*/
.sub_tit{font-weight:600;font-size:2.0em;margin-bottom:20px;color:#604c3f}
.room_list ul li{float:left}
.room_tit{font-size:4em;color:#869791}
.room_tit span{color:#604c3f;font-weight:600;padding-left:10px;font-size:0.8em}
	



/* board */
table{border-spacing: 0;border-collapse: collapse;}
tbody.tbl-tline {border-top:2px solid #d9dadc}
.tbl-con-tit{font-weight:700;margin-bottom:5px;color:#434c7f}

.tbl {width:100%;margin: 0 0 50px;}
.tbl>thead>tr>th{border-bottom:1px solid #eeeeee;padding:10px 5px;background-color:#fafafa;vertical-align: middle;}
.tbl>tbody>tr>th{padding:13px 5px;border-bottom:1px solid #eeeeee;vertical-align: middle;}
.tbl>tbody>tr>td{padding:13px 5px;border-bottom:1px solid #eeeeee;vertical-align: middle;}


/*tbl_info*/
.tbl_info {border-top: 2px solid #604c3f;font-size:0.99em}
.tbl_info tr th{vertical-align: middle;text-align: center;background: url(../img/common/tbl_th_bg.jpg) repeat left top;border-bottom: 1px solid #cecece;font-size:1em;line-height:1.5em}
.tbl_info table td {vertical-align: middle;text-align: left;padding: 20px 18px;border-bottom: 1px solid #cecece;}

.tbl-striped > tbody > tr:nth-of-type(odd) {background-color: #fcfcfc;}
.tbl-hover > tbody > tr:hover {background-color: #fafafa;color:#000;}
.tbl-hover > tbody > tr:hover a{color:#fff}

.tbl-borderd>thead>tr>th{border: 1px solid #eee;border-bottom:1px solid #ccc}
.tbl-borderd>tbody>tr>td{border: 1px solid #eee;border-bottom: 1px solid #eeeeee;}
.tbl-borderd>thead>tr>th:first-child, .tbl-borderd>tbody>tr>td:first-child{border-left:none}
.tbl-borderd>thead>tr>th:last-child, .tbl-borderd>tbody>tr>td:last-child{border-right:none}

.tbl-borderd2>thead>tr>th,.tbl-borderd2>tbody>tr>td{border: 1px solid #d9dadc;}

.tbl-dark > thead > tr > th{background-color:#3b3f4a;color: #fff;}
.tbl-small>tbody>tr>td, .tbl-small>tbody>tr>th{padding:5px}
.tbl-small>thead>tr>th{padding:7px}



/*footer*/
#fnb {position:absolute;bottom:12px;left:0;margin:0;padding:0;list-style:none;zoom:1}
#fnb:after {display:block;visibility:hidden;clear:both;content:""}
#fnb li {float:left;margin:0 0 0 0px}
#fnb a {display:inline-block;padding:0 0px;color:#333;letter-spacing:-0.1em;}
#fnb a.login{color:#3f362e} 
#fnb a:focus, #tnb a:hover, #tnb a:active {text-decoration:none}
#fnb img {margin-right:3px}
.ft_logo{position:absolute;right:0;bottom:30px;width:199px;}