body {background: rgb(204,204,204);}
	page {
	 background: white;
	 display: block;
	 margin: 0 auto;
	 margin-bottom: 0.5cm;
	 /*box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);*/
	 
	}
	page[size="A4"] {  
	  width: 21cm;
	  height: 29.7cm; 
	}
	page[size="A4"][layout="portrait"] {
	  width: 29.7cm;
	  height: 21cm;  
	}
	page[size="A3"] {
	  width: 29.7cm;
	  height: 42cm;
	}
	page[size="A3"][layout="portrait"] {
	  width: 42cm;
	  height: 29.7cm;  
	}
	page[size="A5"] {
	  width: 14.8cm;
	  height: 21cm;
	}
	page[size="A5"][layout="portrait"] {
	  width: 21cm;
	  height: 14.8cm;  
	}
	
	@media print {
	  body, page {
	    margin: 0;
	    box-shadow: 0;
	    -webkit-print-color-adjust: exact;
	  -moz-background-inline-policy /*배경이미지 적용할때*/
	  
	  }

	  	
	  
}


/*옮기기 전*/
/*print*/	

.sub_hd::after {display: block;visibility: hidden;clear: both;content: "";}
.sub_hd::before {content: "";position: absolute;bottom: -4px;left: -1px;display: block;width: 100%;height: 3px;background: #000;}
.sub_hd {margin-bottom: 30px;zoom: 1;border: 1px solid #000;padding: 15px;position: relative;color: #000;}

.sub_hd .tit{font-size:22px;}
.champ_group_edit{page-break-after: always;}
.champ_group_edit ul li{/*page-break-after: always;*/}
.champ_group_edit ul li{float:left;width:31.66666%;margin-right:2%;border:1px solid #000;margin-bottom:20px;position:relative;}
.champ_group_edit ul li:nth-child(3n+3){margin-right:0%;}

.champ_group_edit.half ul li{width:49%;margin-right:1%}
.champ_group_edit.half ul li:nth-child(2n+2){margin-right:0%;}

.champ_group_edit ul li .tit_area{border-bottom:2px solid #000;padding:10px;font-weight:600;font-size:14px}
.champ_group_edit ul li .tit_area .r-btn-area{position:absolute;right:0;top:0;padding:15px;font-size:11px;font-family:'dotum'}
.champ_group_edit ul li .tit_area .r-btn-area a.btn{margin-right:5px;border:1px solid;padding:5px 10px;border-radius:5px;}
.champ_group_edit ul li .tit_area .r-btn-area a.btn:last-child{margin-right:0}
.champ_group_edit ul li .tit_area .r-btn-area a.btn.add{border-color:#34a263;background-color:#46c37b;color:#fff}
.champ_group_edit ul li .tit_area .r-btn-area a.btn.del{border-color:#c54736;background-color:#d26a5c;color:#fff}


.champ_group_table {padding:0px 3px;font-size:14px}
.champ_group_table table thead tr th{border-bottom:2px solid #ccc;padding:5px 0;}
.champ_group_table table tbody tr td{border-bottom:1px solid #000;padding:5px 5px;line-height: 20px;}
.champ_group_table table tbody tr:last-child td{border-bottom:none}
	  


/*점수입력표*/
/*경기상황별 view*/
page .champ_match_result_pnt_pnt{margin-bottom:20px}
page .champ_match_result_pnt ul li{float:left;width:100%;margin-right:0;margin-bottom:15px;position:relative;}

page .champ_match_result_pnt ul li .tit_area{background-color:#d9edf7;padding:10px 15px;font-weight:600;border:1px solid #000;border-bottom:1px solid #000;font-size:18px}
page .champ_match_result_pnt ul li .tit_area .r-btn-area{position:absolute;right:0;top:0;padding:15px;font-size:11px;font-family:'dotum'}

page .current_rating_tbl{margin-bottom:20px;font-size:16px}
page .current_rating_tbl thead tr th{font-weight:300;color:#000;border:1px solid #000;padding:10px 0px}
page .current_rating_tbl tbody tr td{font-weight:300;color:#000;border:1px solid #000;padding:10px 0px}
page .current_rating_tbl tbody tr th{font-weight:300;color:#000;border:1px solid #000;padding:5px;position:relative}
page .current_rating_tbl tbody tr:nth-child(1) td:nth-child(2),
page .current_rating_tbl tbody tr:nth-child(2) td:nth-child(3),
page .current_rating_tbl tbody tr:nth-child(3) td:nth-child(4),
page .current_rating_tbl tbody tr:nth-child(4) td:nth-child(5),
page .current_rating_tbl tbody tr:nth-child(5) td:nth-child(6){background:url('../img/common/slash.png');background-size: 100% 100%;}
page .current_rating_tbl tbody tr td{font-weight:300;color:#000}
page .current_rating_tbl tbody tr td span:first-child{padding-right:10px}
page .current_rating_tbl tbody tr td span:last-child{padding-left:10px}

page .current_rating_tbl tbody tr td.win{color:rgba(000,000,000,1);}
page .current_rating_tbl tbody tr td.win span:first-child{color:red;font-weight:600;}
page .current_rating_tbl tbody tr td.win span:last-child{color:#000}

page .current_rating_tbl tbody tr.winner1 th:after{content:"1위";position:absolute;left:0;top:0;background-color:red;padding:3px;border-radius:50px;color:#fff;font-size:10px;}
page .current_rating_tbl tbody tr.winner1 {background:rgba(232,24,12,0.1)}

page .current_rating_tbl tbody tr.winner2 th:after{content:"2위";position:absolute;left:0;top:0;background-color:#e8117f ;padding:3px;border-radius:50px;color:#fff;font-size:10px;}
page .current_rating_tbl tbody tr.winner2 {background:rgba(000,000,000,0.05)}


.rank_summary_tbl{border:1px solid #000;}
.rank_summary_tbl thead tr th{color:#000;border:1px solid #ccc;padding:10px 5px;border-bottom:1px solid #000;background-color:#d9edf7}
.rank_summary_tbl tbody tr{}
.rank_summary_tbl tbody tr td{font-weight:300;border:1px solid #ccc;padding:5px 5px;line-height:22px;}
.rank_summary_tbl tbody tr th{font-weight:300;border:1px solid #ccc;padding:5px;position:relative}



