@charset "utf-8";
/* SIR 지운아빠 */

/* 새글 스킨 (latest) */
.lt_pc {float:left;margin-left:20px}
.lt {position:relative;float:left;width:412px;}
.lt:nth-child(2n+1){margin-left:44px;}
.lt ul {margin:0 0;padding:0;list-style:none;font-size:1.2em}
.lt li {padding:8px 0;border-bottom:1px solid #bbbbbb;}
.lt .lt_title {padding:10px 0 8px;font-size:1.4em;border-bottom:1px solid #000;display: inline-block;min-width: 170px;margin-bottom:15px}
.lt .lt_more {position:absolute;top:10px;right:0}
.lt .cnt_cmt {display:inline-block;margin:0 0 0 3px;font-weight:bold}
.lt li .time{float:right;color:#75767b}


