/*
@import url(//cdn.jsdelivr.net/nanumsquare/1.0/nanumsquare.css);
*/
/*default mobile settiong*/
*, *::before, *::after {
    box-sizing: inherit;}
html {
    /* 화면을 길게 누르고 있을때 뜨는 팝업이나 액션시트를 제어 */
    -webkit-touch-callout:none;
    /* 텍스트나 이미지를 선택할 수 있게 하는 여부를 제어 */
    -webkit-user-select:none;
    /* 링크를 터치했을때 나오는 기본 영역의 색상을 제어 */
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}
body{padding:0;margin:0;font-family:'nanumsquare','Malgun Gothic','맑은 고딕',sans-serif;background-color:#efefef}
ul,li{list-style-type:none;padding:0;margin:0}
a{text-decoration:none;color:#14264a}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
.sound_only{visibility:hidden;font-size:0px}
/*margin-padding*/
.ml-30{margin-left:30px;}
.mb-50{margin-bottom:50px!important}
.mb-45{margin-bottom:45px!important}
.mb-40{margin-bottom:40px!important}
.mb-35{margin-bottom:35px!important}
.mb-30{margin-bottom:30px!important}
.mb-25{margin-bottom:25px!important}
.mb-20{margin-bottom:20px!important}
.mb-15{margin-bottom:15px!important}
.mb-10{margin-bottom:10px!important}
.mb-0{margin-bottom:0px!important}
/*padding-padding*/
.pb-0{padding-bottom:0px!important}
.pr-5{padding-right:5px!important}

/*fontweight*/
.fw-700{font-weight:700!important}
.fw-600{font-weight:600!important}
.fw-500{font-weight:500!important}
.fw-400{font-weight:400!important}
.fw-300{font-weight:300!important}
.fw-200{font-weight:200!important}
.fw-100{font-weight:100!important}

.text-left{text-align:left}
.text-right{text-align:right}
.text-center{text-align:center}

/*background-image*/
.bk-img1{background-image:url('../img/common/bkg01.jpg');background-position-x:50%;background-repeat:no-repeat;}

/*icon_모음*/
.quick_view a:after{background:url('../img/common/icons.png') no-repeat;background-size:130px 43px;} 
 

/* color-setting */
.bkg, .bkg1,.bkg2,.bkg3,.bkg4,.bkg5,.bkg6,.bkg7{border:none}
.bkg{background-color:#efefef}
.bkg1, a.bkg1{background-image:url('../img/common/ptn_01.png');}
.bkg1, a.bkg1:hover{}

.bkg2, a.bkg2{background-color:#777777!important;color:#fff}
.bkg3, a.bkg3{background-color:#999999!important;color:#fff}
.bkg3, a.bkg3:hover{background-color:#292929!important;color:#fff}

.bkg4, a.bkg4{background-color:#bbbbbb!important;color:#fff}
.bkg4, a.bkg4:hover{background-color:#292929!important;color:#fff}
.bkg5, a.bkg5{background-color:#ed4022!important;color:#fff}
.bkg5, a.bkg5:hover{background-color:#e8180c!important;border:1px solid #e8180c;color:#fff}
.bkg6, a.bkg6{background-color:#f29803!important;color:#fff}
.bkg6, a.bkg6:hover{background-color:#292929!important;color:#fff}
.bkg7, a.bkg7{background-color:#fff!important;color:#292929}

.color1, a.color1{color:#292929!important}
.color2, a.color2{color:#777777!important}
.color3, a.color3{color:#999999!important}
.color4, a.color4{color:#bbbbbb!important}
.color5, a.color5{color:#ef3f1e!important}
.color6, a.color6{color:#f29803!important}
.color7, a.color7{color:#fff!important}

/*--------------------------main-------------------------------*/
.m_container{padding-top:51px}

/*main_hd*/
.m_hd_area{padding:5px 0;text-align:center;box-shadow:1px 1px 3px grey;position:fixed;display:inline-block;width:100%;z-index:9999;background-color:#fff}
.m_hd_area a.logo{color:#fff;width:145px;display:inline-block;padding-top:8px}
.m_hd_area a.title{font-size:16px;font-weight:600}
.m_hd_area a.menu{padding:10px 12px;width:28px;height:21px;background-color:red;display:inline-block;background:url('../img/common/menu.png') no-repeat center center;background-size:47px}
.m_hd_area a.calander{padding:10px 12px;width:28px;height:21px;background-color:red;display:inline-block;background:url('../img/common/carendar.png') no-repeat center center;background-size:28px}
.m_hd_area a.menu i,.m_hd_area a.calander i{font-size:0;line-height:0;}

.hd_lnb{float:left;}
.hd_right{float:right;}
/*popup_hd*/
.pop_hd_area{background-color:#14264a;color:#fff;padding:12px 0;text-align:center;box-shadow:1px 1px 3px grey;position:fixed;display:inline-block;width:100%;z-index:9999;top:0}
.pop_hd_area a{color:#fff;padding:12px}
.pop_hd_area a.title{font-size:16px;font-weight:600;}

/*section setting*/
section{background-color:#fff}
section:after{content:"";background-color:#efefef;padding-bottom:15px;clear:both;display:block}
section .hd{position: relative;padding:15px 5px;font-size:18px;font-weight:600}

section .hd .r-btn-area{position:absolute;right:5px;top:20px;z-index:10;background-color:#fff;font-size:12px;}
section .hd .r-btn-area ul li{float:left;padding-left:5px;}
section .hd .r-btn-area ul li a {font-weight:600;padding:10px;}
section .hd .r-btn-area ul li a.more_info:before {content:"+";}
section .hd .r-btn-area ul li a img{margin-bottom:5px}
section .hd .r-btn-area ul li a span{font-size:0.8em}
/*-----------------sub_container-------------------------*/
.sub_container{padding-top:90px}



/*-----------------popup_container----------------------*/
/*popup_section setting*/
.pop_container{padding-top:90px}
.pop_container section:after{content:"";background-color:#efefef;clear:both;display:block;padding-bottom:0}
.pop_container section .pop_hd{position: relative;padding:10px 5px;font-size:16px;font-weight:600;background-color:#efefef}
.pop_container section .pop_hd .r-btn-area{position:absolute;right:5px;top:20px;z-index:10;background-color:#fff;font-size:12px;}
.pop_container section .pop_hd .r-btn-area ul li{float:left;padding-left:5px;}
.pop_container section .pop_hd .r-btn-area ul li a {font-weight:600;padding:10px;}
.pop_container section .pop_hd .r-btn-area ul li a.more_info:before {content:"+";}
.pop_container section .pop_hd .r-btn-area ul li a img{margin-bottom:5px}
.pop_container section .pop_hd .r-btn-area ul li a span{font-size:0.8em}

/*section content_area*/
section .content{padding:10px;background-color:#fff;border-bottom:1px solid #ddd;border-top:1px solid #ddd;}
section .content ul{font-weight:700}
section .content ul li{padding-left:70px;position:relative;color:#181818;margin:10px 0}
section .content ul li span{position:absolute;left:0;color:#777777}
section .content p{}


/*게시물 리스트*/
.bo_list_ul li:active,.bo_list_ul li:hover,section a:active{background-color:rgba(18,38,75,0.1);}
.bo_list_ul ul li{overflow: hidden;border-top: 1px solid #ededed;}
.bo_list_ul ul li:last-child{border-bottom: 1px solid #ededed;}

.bo_list_ul .list_a {overflow: hidden;display:block;max-width: 100%;-webkit-box-sizing: border-box;box-sizing: border-box;}
.bo_list_ul .list_a .champ_status {float: left;position: relative;padding: 10px 5px 9px 5px;color: #222;white-space: nowrap;letter-spacing: -1px;text-align:center}
.bo_list_ul .list_a .subject {display: block;overflow: hidden;padding: 10px 0 9px 0;color: #222;letter-spacing: -.5px;white-space: nowrap;text-overflow: ellipsis;}
.bo_list_ul .subject .m_subject{font-size:14px;font-weight:700;color:#14264a;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-bottom:2px;}
.bo_list_ul .subject .s_subject{font-size:13px;color:#999999;font-weight:600;}
.bo_list_ul .list_a .list_r_area {float: right;position: relative;padding: 14px 10px 14px 10px;color: #222;white-space: nowrap;letter-spacing: -1px;}

/*quick_line_button*/
section .quick_view {position:relative}
section .quick_view a{font-weight:700;text-align:center;padding:15px;display:block;font-size:14px}
section .quick_view a:after{content:"";position: absolute;
background-position:-50px -17px;
width:30px;height:18px;margin-left:10px;top:50%;margin-top:-9px;}
    


/*icon style*/
.champ_ico{border:1px solid #292929;border-radius:5px;font-size:11px;padding:0 5px;font-weight:600;display:block}
.champ_ico1:before{content:"KTA"}.champ_ico1{background-color:#41fdcf;}
.champ_ico2:before{content:"KATO"}.champ_ico2{background-color:#69fd41;}
.champ_ico3:before{content:"KATA"}.champ_ico3{background-color:#fdc141;}
.champ_ico4:before{content:"KASTA"}.champ_ico4{background-color:#41e9fd;}
.champ_ico5:before{content:"LOCAL"}.champ_ico5{background-color:#41fdcf;}
.champ_ico6:before{content:"비랭킹"}.champ_ico6{background-color:#41fdcf;}



.champ_status .limit_status{color:#eb0414;font-size:11px;font-weight:600;padding-top:5px;display:block}



