/*!
* custom IOS design 
*/

/*default css*/
.header-menu{background-color:transparent;color:#fff;border:none;}
.top_nav{
  background-color:#2c343f;color:#fff;
  position: fixed;
  top: 60px;
  right: 0;
  left: 0;
  z-index: 1030;
  min-width: 320px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;}
.top_nav ul{list-style-type:none;padding:0;margin:0;font-weight:700}
.top_nav ul li{float:left;margin:0px}
.top_nav ul li a{padding:10px 6px;display:block;color:#fff;font-size:1.1em}
.top_nav ul li a.active{border-bottom:2px solid #fff}
.current_page{position:fixed;top:0;color:#fff;font-weight:700;margin:20px 0 0 60px; z-index:1030}
.btn-mobile{background-color:#2c343f;color:#fff}
.btn-mobile:focus,
.btn-mobile.focus,
.btn-mobile:hover {
  color: #fff;
  background-color: #373f4a;
}
.text-base{color:#2c343f}
.btn-group-lg>.btn, .btn-lg{font-size:16px}
body{background-color:#dedfe0;}
.btn-map{border:1px solid #e9e9e9;background-color:#f5f5f5}
.content{overflow-x:hidden;padding:16px 10px 1px}


	.menu_snav{
	display: box;
    display: -webkit-box;
    display: -moz-box;
    box-orient: horizontal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    background: #2c343f;
   }
   .menu_snav a {
    display: block;
    box-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    height: 43px;
    color: #fff;
    font-size: 15px;
    letter-spacing: -1px;
    text-align: center;
    line-height: 2.8em;
    white-space: nowrap;}
    
    .menu_snav a.active {
    position: relative;
    color: #fff;
    font-weight:700;}
    
    .menu_snav a.active:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: #fff;
    z-index: 10;
  
}
/*main css*/
.main_content .info_tit{background-color:#dedfe0;padding:5px;font-size:1.2em;border-bottom:2px solid #e9e9e9;position:relative}
.main_content ul.our_main_list{list-style-type:none;padding:0;margin:0;}
.main_content ul.our_main_list li{ -webkit-box-shadow: 0 2px rgba(0, 0, 0, 0.1); box-shadow: 0px 2px rgba(0, 0, 0, 0.1);position:relative}
.main_content ul.our_main_list li a{color:#646464}
.main_content ul.our_main_list li img{max-height:150px}
.main_content ul.our_main_list li h3{visibility:hidden}
.main_content ul.our_main_list li .m_champ_info{padding:5px 10px;position:absolute;bottom:0;width:100%;background-color:rgba(0, 0, 0, 0.5);color:#fff}
.main_content ul.our_main_list li .m_champ_info .period{font-size:0.8em}

.main_content ul.main_list{list-style-type:none;padding:0;margin:0;}
.main_content ul.main_list li{ -webkit-box-shadow: 0 2px rgba(0, 0, 0, 0.03); box-shadow: 0px 2px rgba(0, 0, 0, 0.03);border-bottom:1px solid #e9e9e9}
.main_content ul.main_list li a{color:#646464}
.main_content ul.main_list li h3{visibility:hidden}
.main_content ul.main_list li .m_champ_info{padding:5px 10px;background-color:#fff;}
.main_content ul.main_list li .m_champ_info .period{font-size:0.8em}

/*main popup select area*/
.area_chk{margin:0 -2%}
.area_chk #btn-ck {background-color:#EFEFEF;border-radius:4px;border:1px solid #D0D0D0;float:left;width:21%;margin:2%;}
.area_chk #btn-ck label {float:left;margin-bottom:0px;width:100%;}
.area_chk #btn-ck label span {text-align:center;padding:7px 0px;display:block;}
.area_chk #btn-ck label input {position:absolute;top:-50px;}
.area_chk #btn-ck input:checked + span {background-color:#911;color:#fff;border-radius:4px;}


/*sub css*/
.btn{height:44px;}
.btn-white{background-color:#fff}
.btn-group-justified .btn{border:none;border-right:1px solid #ededed;color:#90999e}
.btn-group>.btn-group:last-child:not(:first-child)>.btn:first-child{border:none}
.btn-group-justified .btn.active{background-color:#2c343f;color:#fff}
.btn-group-justified .btn.active a{color:#fff}
.btn-group-justified .btn a{color:#90999e}

/* mobile 토너먼트 배치표 출력 currentstatus_rating_view*/

.tournament_match .tournament_header{border-bottom:1px solid #eee;padding:8px 10px 5px 10px;text-align:left}
.tournament_match .tournament_content{padding:5px 20px;position:relative;}
.tournament_match .tournament_point{font-size:22px;position:absolute;left:50%;bottom:50%;margin-left:-45px;width:90px;height:32px;margin-bottom:-16px;text-align:center;}
.tournament_match .tournament_point .status{position:absolute;top:0;margin-top:-11px;font-size:0.6em;}
.tournament_match .tournament_point .left_team, .tournament_match .tournament_point .right_team{width:26px;height:32px; display:inline-block;text-align:center;font-weight:100}
.tournament_match .tournament_point .win{color:red}

.tournament_match hr{padding-bottom:50px;}
.tournament_match .coat_tit{border-top:1px solid #ededed;display:inline-block;width:100%;padding:8px 10px 3px 10px}
button.btn_fav{border:none;background-color:transparent}
button.btn_fav i{color:#dedfe0}
button.btn_fav .left-star{position:absolute;left:0;top:50%;margin-top:-10px;margin-left:10px;}
button.btn_fav .right-star{position:absolute;right:0;top:50%;margin-top:-10px;margin-right:10px;}

button.btn_fav:active{color:#ffcc00}
button.btn_fav:active i {color:#ffcc00}
button.btn_fav.active i {color:#ffcc00}
button.btn_fav.active:active{color:#dedfe0}
button.btn_fav.active:active i{color:#dedfe0}
/*mypage*/
.mychamp_list .title{background-color:#fff;padding:10px;margin-bottom:12px;}
.mychamp_list .tournament_content{padding:10px}



/*토너먼트 배치표 테이블*/
table.table-mobile tr td{padding-left:0;padding-right:0;}

.remove-border{border:hidden!important}
table.champ_result{margin-bottom:0px;}
table.champ_result thead th{font-size:13px!important;padding-left:0!important;padding-right:0!important}
table.champ_result tbody tr{text-align:center;}
table.champ_result tbody tr td{vertical-align:middle;font-size:13px;}

/*대진시간표*/
.champ-data{display: box;display: -webkit-box;display: -moz-box;box-orient: horizontal;-webkit-box-orient: horizontal;-moz-box-orient: horizontal;}
.champ-data span{line-height:2.3em;font-weight:700}
.champ-data .btn2:first-child{border-top-left-radius:2px;border-bottom-left-radius:2px;}
.champ-data .btn2:last-child{border-top-right-radius:2px;border-bottom-right-radius:2px;}
.champ-data .btn2{display: block;box-flex: 1;-webkit-box-flex: 1;-moz-box-flex: 1;color: #90999e;letter-spacing: -1px;text-align: center;line-height: 32px;white-space: nowrap;background-color: #f5f5f5;border-color: #e9e9e9;border: 1px solid transparent;border-right:1px solid #e9e9e9;}
.champ-data .btn2.active{background-color:#2c343f;color:#fff;border:none;border-radius:2px}
.m_court_list{list-style-type:none;padding:0;text-align:center}
.m_court_list li{float:left;border: 1px solid #ccc;width:16.888888%;text-align:center;margin-left:-1px;margin-top:-1px;background-color:#f5f5f5;}
.m_court_list li a{display:block;padding:6px 10px;color:#90999e}
.m_court_list li a.active{background-color:#2c343f;color:#fff;}

.block .block-tit{background-color: #2c343f;color: #fff;padding:5px 10px}
.block > .block-content_list{padding:0px;background-color:#dedfe0}
.block.block-opt-hidden > .block-content_list {display: none;}

/*대회상세정보*/
.content-responsive img{width: 100%;}

