@charset "utf-8";

/* 새글 스킨 (latest) */
.relation_area{width:1061px;}
.relation_area ul.latest_gallery li{float:left;padding:0;margin-right:12px;}
.relation_area ul.latest_gallery li:last-child{margin-right:0px}
.relation_area ul.latest_gallery li .tit_area{padding-top:2px}
