@charset "utf-8";

/* 새글 스킨 (latest) */
.gallery_area{width:696px;}
.gallery_area ul.latest_gallery li{float:left;padding:0;margin-right:9px;}
.gallery_area ul.latest_gallery li:last-child{margin-right:0px}
.gallery_area ul.latest_gallery li .tit_area{padding-top:2px}
