/*!
* custom design 
*/
hr{border-color:#ddd}
.step_progress{padding:5px}
.padding-15-l{padding-left:15px!important}

/*button add*/
.btn-white{background-color:#fff;border-color:#e9e9e9;color:#545454}
.btn-push{padding-top:10px;padding-bottom:10px;}

/*table */
.white-space{white-space: nowrap;}
/*---대진시간표 출력 테이블------------------------------------------------------------------------------------------*/
.table-time > tbody > tr > td.playtime{background-color:#fff;vertical-align:middle;}
.table-time > tbody > tr > td > a > div.free_space{background-color:#fff;padding:55px 0;min-width:84px;min-height:134px;border-radius:5px; display:block;border:1px solid #43a3e5;min-width:100px;}
.table-time > tbody > tr > td {padding:5px;background-color:#ededed;}
.table-time > tbody > tr > td > .group_area { border-radius:5px;box-sizing:border-box;min-width:100px;background-color:#fff;display:block}
/* term 색상 구분*/
.table-time > tbody > tr > td > .term_section{background-color:#f6f6f6;}

/* team 색상 구분*/
.table-time > tbody > tr > td > .team_play {border:1px solid #bce8f1;}
.table-time > tbody > tr > td > .team_play .team_paly_bg {padding:3px 5px; background-color:#d9edf7;}
.table-time > tbody > tr > td > .male_play {border:1px solid #d6e9c6;}
.table-time > tbody > tr > td > .male_play .team_paly_bg {padding:3px 5px; background-color:#dff0d8;}
.table-time > tbody > tr > td > .female_play {border:1px solid #faebcc;}
.table-time > tbody > tr > td > .female_play .team_paly_bg {padding:3px 5px; background-color:#fcf8e3;}
.table-time > tbody > tr > td > .group_area .club_area{white-space:nowrap;color:#646464;padding:3px 5px; border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;position:relative}
.table-time > tbody > tr > td > .group_area .club_area .first_team {border-bottom:1px solid #ededed;padding-bottom:5px;}
.table-time > tbody > tr > td > .group_area .club_area .playing{position:absolute;right:5px;bottom:3px}


/* team 그룹 리스트 */
.table-group-team{display:inline-block}
.table-group-team tr td{width:150px;}
/* 대진시간표 승리팀 적용*/
.group_area .club_area .scoreboard_area{position:relative;padding:10px 0 8px 0}
.group_area .scoreboard_area .win_score{border-bottom:1px solid #eee;}
.group_area .end_matchA{background-color:#ededed}
.group_area .end_matchA .teamA_area{background-color:#fff}

.group_area .end_matchA .scoreboard_area{position:relative;display:block;height:20px;padding:0px}

.group_area .end_matchA .scoreboard_area .a_score{font-weight:700}
.group_area .end_matchA .scoreboard_area .win_score{left:0%;display: block;width: 60%;height: 0;overflow: hidden;border-top: 20px solid #fff;border-right: 15px solid #ededed;}
.group_area .end_matchB{background-color:#ededed}
.group_area .end_matchB .teamB_area{background-color:#fff}
.group_area .end_matchB .scoreboard_area{position:relative;display:block;height:20px;background-color:#fff;padding:0px;}
.group_area .end_matchB .scoreboard_area .b_score{font-weight:700}
.group_area .end_matchB .scoreboard_area .win_score{left:0%;display: block;width: 60%;height: 0;overflow: hidden;border-top: 20px solid #ededed;border-right: 15px solid #fff;border-bottom:0px;}
.scoreboard_area .a_score{position:absolute;left:15px;top:0}
.scoreboard_area .b_score{position:absolute;right:15px;top:0}

/* 경기 점수 입력(timetable)*/
.table-time > tbody > tr > td > .group_area .club_area .court_play{border-top:1px solid #ededed;margin:4px 0 3px 0}
.table-time > tbody > tr > td > .group_area .club_area .court_play > span{display:none}
.table-time > tbody > tr > td > .group_area .club_area .court_played{padding:0 20px;border-top:1px solid #ededed;border-bottom:1px solid #ededed}
.table-time > tbody > tr > td > .group_area .club_area .win_team{font-weight:700;}

/*경기 점수 입력(dropdown)*/
.timetable_teamA_pts{width:50%;padding:0 2px 0 5px}
.timetable_teamB_pts{width:50%;padding:0 5px 0 2px}
.timetable_pts_apply{padding:5px 5px 0 5px}
.team_dropdown{display:inline-block}
.team_dropdown .tit{padding: 5px 5px 4px;font-weight:600;color:#999999;text-transform: uppercase; text-align:center;}
/*last dropdown*/
.table-time td:last-child .dropdown-menu{right:0;left:auto;}

/* 급수별 편성표 승리팀 적용*/
.teamA_winner{background-color:#d9edf7}
.teamB_winner{background-color:#dff0d8}
.teamC_winner{background-color:#fcf8e3}
.teamD_winner{background-color:#f2dede}
.teamE_winner{background-color:#ebebeb}

/* 토너먼트 배치표 출력 currentstatus_rating_view*/
.tournament_match .tournament_header{border-bottom:1px solid #eee;padding:10px 20px}
.tournament_match .tournament_content{padding:10px 20px}
.tournament_match .tournament_point{position:absolute;left:50%;font-size:22px;margin-left:-38px;}
.tournament_match hr{padding-bottom:50px;}

/*경기 진행 급수별편성표 슬러시*/
.table_slash{background-image:url('../img/tournament/slash.png');background-size:100% 100%}

.font-s08{font-size:0.8em}
.font-s05{font-size:0.5em}
.text-red{color:red}