img,fieldset {border:0 none;}
dl,ul,ol,li {list-style: none;}
h1,h2,h3,h4,h5,dl,dt,dd,ul,li,ol,th,td,p,blockquote,form,fieldset,legend {margin:0;padding:0;}
em	{font-style:normal;}
.b {font-weight:bold !important; letter-spacing:-1px;}
legend { display:none; }
fieldset { display:inline; padding:0px;margin:0px; }

/* full screen layer css */
.black_overlay{display: none;position: absolute;top: 0%;left: 0%;width: 100%;height: 100%;background-color: black;z-index:1001;-moz-opacity: 0.5;opacity:.50;filter: alpha(opacity=50);}
.white_content {display: none;position:absolute; top: 50%!important; margin-top:-313px;left: 50%!important;margin-left:-351px;padding: 8px;border: 4px solid #DBDBDB;background-color: white;z-index:1002;overflow: auto;}

/* write */
#WriteForm{ width:678px; float:left; margin:0px; padding:0px; _text-align:left;}
#WriteForm p.guide {font:11px 돋움,dotum,sans-serif;color:#666;letter-spacing:-1px;margin:11px 0 7px 0;padding-left:15px;}

#WriteForm div.submitBtn {text-align:center;margin:0;padding-top:15px;padding-bottom:15px;}
#WriteForm div.submitBtn img {margin:0 3px;cursor:pointer;}

#WriteForm .label {width:80px;float:left;clear:left;font-weight:bold;color:#021A1A;text-align:left;vertical-align:top;padding-top:4px;letter-spacing:-1px;}
#WriteForm .label .m {border:1px solid #ff0000}

#WriteForm .petitionType input {position:relative;top:0px;}
#WriteForm .petitionType label.title {position:relative;top:-3px; padding:0 5px;}

#WriteForm .wrBox_t {height:1px; font-size:0; margin:5px 10px 0 10px;border-bottom:1px solid #e4e4e4;}
#WriteForm .wrBox_b {height:1px; font-size:0; margin:5px 10px 10px 10px;border-bottom:1px solid #e4e4e4;} 
#WriteForm .wrBox_m {padding:0px 10px 5px 10px;float:left; width:653px; _width:653px;}
#WriteForm .wrBox_m p {padding:7px 0;width:100%; float:left;}
#WriteForm .wrBox_m p.last {width:100%; float:left; }
#WriteForm .wrBox_m p.last label.title {position:relative;top:-3px;}
#WriteForm .wrBox_m p.none {background-image:none;  float:left; padding:7px 0 0px;}
#WriteForm .wrBox_m p.none button.upload {position:relative;top:5px;}
#WriteForm .wrBox_m p.none label.title1 {position:relative;top:-7px;}
.upload_list {width:650px;overflow:auto;height:120px;border:1px solid #e4e4e4;}

#WriteForm .wrBox_m p input.name,
#WriteForm .wrBox_m p input.target,
#WriteForm .wrBox_m p input.e_date,
#WriteForm .wrBox_m p input.count,
#WriteForm .wrBox_m p input.title,
#WriteForm .wrBox_m p input.date,
#WriteForm .wrBox_m p textarea.contents,
#WriteForm .wrBox_m p input.tag,
#WriteForm .wrBox_m p input.tags,
#WriteForm .wrBox_m p input.file,
#WriteForm .wrBox_m p input.file_txt,
#WriteForm .wrBox_m p input.url {border:1px solid #CDCDCD;color:#666; height:19px;padding-top:2px;}

#WriteForm .wrBox_m p input.name {width:127px;}
#WriteForm .wrBox_m p input.target {width:205px;}
#WriteForm .wrBox_m p input.e_date {width:75px;}
#WriteForm .wrBox_m p input.count {width:139px;}
#WriteForm .wrBox_m p input.title {width:495px;}
#WriteForm .wrBox_m p input.date {width:70px;}
#WriteForm .wrBox_m p input.tag {width:127px;}
#WriteForm .wrBox_m p input.tags {width:495px;}
#WriteForm .wrBox_m p textarea.contents {width:650px;height:100px;font-size:12px;}
#WriteForm .wrBox_m p input.url {width:495px;}
#WriteForm .wrBox_m p input.file_txt {width:250px;}

/* 글쓰기 추가부분(EJ) */
/* 입장 */
.petitionCate input { vertical-align:middle; }
.petitionCate img { margin-right:3px; }
/*img {border:0;vertical-align:middle;}*/
